
    
   <div class="modal fade modal-kerdetayrap" th:fragment="modalkerestedetay" id="firstModal"
  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kereste Detay Raporlama</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <!-- 1 -->
        <div class="input-group">
          <span class="input-group-text">Ilk Son Tarih</span>
          <input type="date" id="tar1" class="form-control" value="1900-01-01">
          <input type="date" id="tar2" class="form-control" value="2100-12-31">

          <span class="input-group-text">Ilk Son CTarih</span>
          <input type="date" id="ctar1" class="form-control" value="1900-01-01">
          <input type="date" id="ctar2" class="form-control" value="2100-12-31">
        </div>

        <!-- 2 -->
        <div class="input-group">
          <span class="input-group-text">Ilk Son Urun kodu</span>
          <input type="text" id="ukod1" class="form-control" value="00-000-0000-0000">
          <input type="text" id="ukod2" class="form-control" value="ZZ-999-9999-9999">

          <span class="input-group-text">Ilk Son CHes Kodu</span>
          <input type="text" id="chkod1" class="form-control" ondblclick="openSecondModal('chkod1')">
          <input type="text" id="chkod2" class="form-control" value="ZZZZZZZZZZZZ" ondblclick="openSecondModal('chkod2')">
        </div>

        <!-- 3 -->
        <div class="input-group">
          <span class="input-group-text">Ilk Son Paket</span>
          <input type="text" id="pak1" class="form-control">
          <input type="text" id="pak2" class="form-control" value="ZZZZZZZZZZ">

          <span class="input-group-text">Ilk Son CEvrak</span>
          <input type="text" id="cevr1" class="form-control">
          <input type="text" id="cevr2" class="form-control" value="ZZZZZZZZZZZZ">
        </div>

        <!-- 4 (3 select) -->
        <div class="input-group ker-3sel">
          <span class="input-group-text">Depo</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="depo"></select>
            <span class="select-arrow">▼</span>
          </div>

          <span class="input-group-text">Ozel Kod</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="ozkod"></select>
            <span class="select-arrow">▼</span>
          </div>

          <span class="input-group-text">C Depo</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="cdepo"></select>
            <span class="select-arrow">▼</span>
          </div>
        </div>

        <!-- 5 -->
        <div class="input-group">
          <span class="input-group-text">Ilk Son Hesap</span>
          <input type="text" id="hes1" class="form-control" ondblclick="openSecondModal('hes1')">
          <input type="text" id="hes2" class="form-control" value="ZZZZZZZZZZZZ" ondblclick="openSecondModal('hes2')">

          <span class="input-group-text">CAna Grup</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="canagrp" onchange="anagrpChanged(this,'caltgrp')"></select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

        <!-- 6 -->
        <div class="input-group">
          <span class="input-group-text">Ilk Son Evrak</span>
          <input type="text" id="evr1" class="form-control">
          <input type="text" id="evr2" class="form-control" value="ZZZZZZZZZZZZ">

          <span class="input-group-text">CAlt Grup</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="caltgrp" disabled></select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

        <!-- 7 -->
        <div class="input-group">
          <span class="input-group-text">Ilk Son kons</span>
          <input type="text" id="kons1" class="form-control">
          <input type="text" id="kons2" class="form-control" value="ZZZZZZZZZZZZZZZ">

          <span class="input-group-text">COzel Kod</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="cozkod"></select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

        <!-- 8 -->
        <div class="input-group">
          <span class="input-group-text">Ana Grup</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="anagrp" onchange="anagrpChanged(this,'altgrp')"></select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>

          <span class="input-group-text">Alt Grup</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="altgrp"></select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveToMain()">Raporla</button>
      </div>

    </div>
  </div>
</div>
