<style>


.child {
	width: 95%;
	padding: 2px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.group-box {
	padding: 1px;
	width: 97%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.aramagroup-box {
	width: 97%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	height: 50px; /* Yüksekliği sabitledim */
}
.centered-div {
	width: 60%; /* Genişlik %80 */
	margin: 0 auto; /* Ekran ortasında konumlandırma */
/*	padding: 4px;
	border: 1px solid #ccc;  */
	box-sizing: border-box;
	/* Padding ve border genişlik içinde hesaplansın */
	text-align: center; /* İçerikleri ortala (opsiyonel) */
}

.resimcentered-div {
	width: 250px; /* Sabit genişlik */
    height: 330px; /* Sabit yükseklik */
    
	margin: 0 auto; /* Ekran ortasında konumlandırma */
	box-sizing: border-box;
	
	display: flex;
	flex-direction: column; /* Dikey hizalama */
	align-items: left; /* Elemanları ortala (opsiyonel) */
	gap: 8px; /* Elemanlar arasında boşluk (opsiyonel) */
}

.resimgoster {
    overflow: hidden; /* Resmin taşmasını engelle */
    display: flex; /* Flexbox ile hizalama */
    justify-content: center; /* Yatayda ortala */
    align-items: center; /* Dikeyde ortala */
    width: 250px; /* Sabit genişlik */
    height: 300px; /* Sabit yükseklik */
    border: 1px solid #ddd; /* İsteğe bağlı çerçeve */
    background-color: #f8f9fa; /* Arka plan rengi */
}

.resimdiv {
  display: flex;
    width: 250px; /* Sabit genişlik */
    min-height: 300px; /* Sabit yükseklik */
   border: 1px solid #ddd; /* İsteğe bağlı çerçeve */
    overflow: hidden; /* Resmin taşmasını engelle */
    background-color: #f8f9fa; /* Arka plan rengi */
}


</style>
<!-- Ana Sayfa -->

<div class="card p-4 d-flex flex-row gap-3">
    <div class="centered-div">
        <div class="aramagroup-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Arama</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="arama"  style="max-width:300px;" class="form-control" oninput="adraramaYap()"  th:value="${hesapKodu}" >
            <span style="padding-left: 50px;"></span>

			<div style="position: relative; width: 150px;">
				<input class="form-control cins_bold" maxlength="12"
					list="hesapOptions" id="hesapKodlari"
					style="width: 100%; padding-right: 30px;">
				<datalist id="hesapOptions">
					<option th:each="kod : ${hesapKodlari}" th:value="${kod.M_Kodu}"></option>
				</datalist>
				<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
			</div>

		</div>
        <div class="aramagroup-box" style="margin-top:5px;">
            <span style="padding-left: 5px;"></span>
            <button type="button" id="geriButton" class="btn btn-secondary ml-2" onclick="adrGeri()" ><i class="fa fa-backward"></i>	</button>
            
            <span style="padding-left: 5px;"></span>
            <button type="button" id="ilkButton" class="btn btn-secondary ml-2" onclick="adrIlk()" ><i class="fa fa-refresh"></i>	</button>

           
            <span style="padding-left: 5px;"></span>
            <button type="button" id="ileriButton" class="btn btn-secondary ml-2" onclick="adrIleri()" ><i class="fa fa-forward"></i>	</button>

        </div>
        <div class="group-box" style="margin-top:5px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="min-width:100px;">Hesap Kodu</span>
            <span style="padding-left: 5px;"></span>
           <input type="text" id="kodu" disabled style="max-width:150px;font-weight: bold;" class="form-control" oninput="adrhesapAdiOgren('kodu','kodKontrol')">
           <span style="padding-left: 5px;text-align:left; color:red;font-weight: bold;" id="kodKontrol"></span>
        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="min-width:100px;">Unvan</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="unvan"  disabled style="max-width:300px;" class="form-control">
        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="min-width:100px;">Adres1</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="ad1"  disabled class="form-control" style="max-width:300px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Semt</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="semt"  disabled class="form-control" style="max-width:150px;">
        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="min-width:100px;">Adres2</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="ad2"  disabled class="form-control" style="max-width:300px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Sehir</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="seh"  disabled class="form-control" style="max-width:150px;">
        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="min-width:100px;">Posta Kodu</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="pkodu"  disabled class="form-control" style="max-width:100px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Sms Gonder</span>
            <span style="padding-left: 5px;"></span>
            <input type="checkbox" id="smsgon" class="form-check-input" style="max-width:50px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Mail Gonder</span>
            <span style="padding-left: 5px;"></span>
            <input type="checkbox" id="mailgon" class="form-check-input" style="max-width:50px;">
        </div>
        
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="min-width:100px;">Vergi D.</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="vd"  disabled class="form-control" style="max-width:150px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Vergi No</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="vn"  disabled class="form-control" style="max-width:150px;">
        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="min-width:100px;">Tel 1</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="t1"  disabled class="form-control" style="max-width:150px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Tel 2</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="t2"  disabled class="form-control" style="max-width:150px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Tel 3</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="t3"  disabled class="form-control" style="max-width:150px;">
        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="min-width:100px;">Fax</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="fx"  disabled class="form-control" style="max-width:150px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Ozel Kod1</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="o1"  disabled class="form-control" style="max-width:150px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Ozel Kod2</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="o2"  disabled class="form-control" style="max-width:150px;">
        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="min-width:100px;">Web</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="web"  disabled class="form-control" style="max-width:305px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Ozel</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="ozel"  disabled class="form-control" style="max-width:150px;">
        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="min-width:100px;">Email</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="mail" disabled class="form-control" style="max-width:305px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Aciklama</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="acik" disabled class="form-control" style="max-width:300px;">
        </div>
        
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="min-width:100px;">Not 1</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="not1" disabled class="form-control" style="max-width:305px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Not 2</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="not2" disabled class="form-control" style="max-width:300px;">
        </div>
         <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="min-width:100px;">Not 3</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="not3" disabled class="form-control" style="max-width:305px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Yetkili</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="yetkili" disabled class="form-control" style="max-width:250px;">
        </div>
        <div class="aramagroup-box" style="margin-top:5px;">
            <span style="padding-left: 5px;"></span>
            <button type="button" id="adrkaydetButton" class="btn btn-secondary ml-2" onclick="adrKayit()" ><i class="fa fa-save"></i>	</button>
            <span style="padding-left: 5px;"></span>
            <button type="button" id="adrsilButton" class="btn btn-secondary ml-2" onclick="adrSil()" ><i class="fa fa-trash"></i>	</button>
            <span style="padding-left: 5px;"></span>
            <button type="button" id="adryeniButton" class="btn btn-secondary ml-2" onclick="adrenableInputs()" ><i class="fa fa-plus"></i>	</button>
        </div>
        <div id="errorDiv" style="display: none; color: red; font-weight: bold;"></div></div>
    
    <div class="resimcentered-div">
 		<div class="resimdiv">
 			<img id="resimGoster" class="resimgoster"  src="" alt="Base64 Resim" style="display: none;" />
     	</div>
     	<button type="button" id="resimremove" style="max-width:250px;" class="btn btn-secondary ml-2" onclick="resimSil()" ><i class="fa fa-remove"></i>	</button>
 		<input type="file" id="resim" name="resim" accept="image/*" disabled class="form-control" style="max-width:400px;">
    </div>
    <input type="hidden" id="adrid" name="adrid" >
</div>
<script src="/obs_js_files/adres/adresgiris.js"></script>
<script>
document.getElementById('resim').addEventListener('change', function (event) {
    const file = event.target.files[0];
    const maxSizeInKB = 500; // Maksimum dosya boyutu (KB cinsinden)
    const maxSizeInBytes = maxSizeInKB * 1024; // Bayta çeviriyoruz
	const errorDiv = document.getElementById("errorDiv");
    if (file && file.size > maxSizeInBytes) {
        errorDiv.innerText = `Dosya boyutu ${maxSizeInKB} KB'ı geçemez!`;
		errorDiv.style.display = "block";
        event.target.value = ''; 
    } else {
		errorDiv.style.display = "none";
		errorDiv.innerText = "";
    }
});
</script>

