<style>

.table-hover tbody tr:hover {
	background-color: #ced4da !important;
	color: inherit !important;
}

.table-row-height td {
	height: 10px;
	line-height: 10px;
}

.table .thead-dark th {
 color: #fff;
  background: #214162;
}
</style>
<div class="card p-4">
	<div style="display: flex; align-items: center;">
		<span style="padding-left: 5px;"></span>
		 <input type="text" oninput="aramaYap()"
			id="arama" style="width: 200px;" class="form-control"
			placeholder="Arama" /> 
		<span style="padding-left: 5px;"></span>
		<button class="btn btn-primary" type="button" onclick="etiketyazdir()"
			id="etiketyazdirButton">Yazdir</button>
	</div>
</div>
<div id="errorDiv" style="display: none; color: red; font-weight: bold;"></div>
<br>
<div style="overflow-x: auto; width: 100%; height: 650px;">
	<table class="table table-bordered table-hover" id="myTable">
		<thead class="thead-dark">
			<tr>
				<th style="text-align: center;"><input type="checkbox"
					id="selectAll" onclick="toggleCheckboxes(this)"></th>
				<th>Adi</th>
				<th>Adres_1</th>
				<th>Adres_2</th>
				<th>Tel_1</th>
				<th>Semt</th>
				<th>Sehir</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="etiket : ${etiketler}" class="table-row-height">
				<td style="width: 40px;"><input type="checkbox"
					th:value="${etiket.cbox}" name="selectedEtiket"></td>
				<td th:text="${etiket.Adi}"></td>
				<td th:text="${etiket.Adres_1}"></td>
				<td th:text="${etiket.Adres_2}"></td>
				<td th:text="${etiket.Tel_1}"></td>
				<td th:text="${etiket.Semt}"></td>
				<td th:text="${etiket.Sehir}"></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tfoot>
	</table>
</div>
<input type="hidden" id="etiketBilgi" name="etiketBilgi" value="">
<script src="/obs_js_files/adres/etiketlistele.js"></script>
