<link rel="stylesheet" href="style/yenihsppln.css" />

<style>
  .double-column {
    text-align: right;
  }

  .table-hover tbody tr:hover {
    background-color: #ced4da !important;
    color: inherit !important;
  }

  .table-row-height td {
    height: 10px;
    line-height: 10px;
  }

  .table .thead-dark th {
    color: #fff;
    background: #214162;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap;
  }
  .table-container {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
</style>

<div class="card p-1">
  <div style="display: flex; align-items: center">
    <button
      class="btn btn-primary"
      type="button"
      id="eksyenileButton"
      style="margin-left: 10px"
      onclick="openFirstModal('ekstre')"
    >
      Yenile
    </button>

    <select
      id="reportFormat"
      class="form-select"
      style="width: 150px; margin-left: 10px"
      onchange="ekstredownloadReport(this.value)"
      disabled
    >
      <option value="" disabled selected>Rapor Indir</option>
      <option value="pdf">PDF</option>
      <option value="xlsx">Excel (XLSX)</option>
      <option value="docx">Word (DOCX)</option>
      <option value="xml">XML</option>
    </select>

    <button
      class="btn btn-primary"
      style="margin-left: 10px"
      type="button"
      id="mailButton"
      onclick="ekstremailAt()"
      disabled
    >
      Email Gonder
    </button>
    <label
      id="hesapAdi"
      style="width: 300px; font-weight: bold; margin-left: 40px"
      >.....</label
    >
  </div>
</div>
<div id="errorDiv" style="display: none; color: red; font-weight: bold"></div>
<div class="container">
  <div class="table-container">
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th>TARIH</th>
          <th>EVRAK</th>
          <th>IZAHAT</th>
          <th>KODU</th>
          <th class="double-column">KUR</th>
          <th class="double-column">BORC</th>
          <th class="double-column">ALACAK</th>
          <th class="double-column">+ / - BAKIYE</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody id="tableBody"></tbody>
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td id="totalBorc" style="text-align: right; font-weight: bold"></td>
          <td
            id="totalAlacak"
            style="text-align: right; font-weight: bold"
          ></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<input type="hidden" id="ekstreBilgi" name="ekstreBilgi" value="initialValue" />
<script src="/obs_js_files/cari/cariekstre.js"></script>
<div th:replace="~{modal/cari/ekstrefiltre :: modalekstre}"></div>
<div th:replace="~{modal/yenihsppln :: secondModal}"></div>
