<link rel="stylesheet" href="style/yenihsppln.css" />
<link rel="stylesheet" href="style/urnkodlari.css" />
<link rel="stylesheet" href="style/adrkodlari.css" />

<style>
.editable-cell {
	cursor: text;
}

.double-column {
	text-align: right;
}

.tah-table th, .tah-table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	height: 15px;
}

.group-box {
	border: 1px solid #ccc;
	padding: 7px;
	margin: 10px;
	width: 98%;
	box-sizing: border-box;
	overflow-x: auto; /* Yatay kaydırma ekler */
}

.child {
	width: 80%;
	padding: 2px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-items: center;
}

.child2 {
	width: 20%;
	padding: 2px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-items: center;
}

.form-row {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

datalist {
	display: none;
}

.saga-bold {
	text-align: right;
	font-weight: bold;
}

.table .thead-dark th {
  color: #fff;
  background: #214162;
}

.cardd {
    display: flex;gap: 10px;
}

.resimdiv {
  width: 100%; 
    min-height: 100%;
    border: 1px solid #ddd; 
    overflow: hidden;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resimgoster {
    max-width: 100%;
    max-height: 100%;
     object-fit: contain; 
    background-color: #f8f9fa;
    
}
</style>

<div class="card p-4">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="tab1-tab"
				style="font-weight: bold;" data-bs-toggle="tab"
				data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1"
				aria-selected="true">Fatura Bilgileri</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="tab2-tab" style="font-weight: bold;"
				data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab"
				aria-controls="tab2" aria-selected="false">Yazici Bilgileri</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="tab3-tab" style="font-weight: bold;"
				data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab"
				aria-controls="tab3" aria-selected="false">Ek Bilgiler</button>
		</li>
	</ul>
</div>
<!-- Tab Content -->
<div class="tab-content" id="myTabContent">
	<!-- Tab 1 Content -->
	<div class="tab-pane fade show active" id="tab1" role="tabpanel"
		aria-labelledby="tab1-tab">
		<div class="cardd p-0">
		<div class="child">
			<!-- ****************************************************************************************************** -->
			<div class="group-box">
				<div style="display: flex; align-items: center; ">
					<label style="min-width:85px;">Fis No</label>
					<div style="min-width: 120px;max-width: 120px;">
						<input class="form-control" style="font-weight: bold;" maxlength="10" id="fisno"  onkeydown="if(event.key === 'Enter') fatOku()" ondblclick="yeniFis();">
					</div>
					<span style="padding-left: 5px;"></span>
					<button type="button" class="btn btn-secondary ml-2" onclick="sonfis()">
							<i class="fa fa-refresh"></i>
					</button>
					<span style="padding-left: 10px;"></span> 
					<input type="date" id="fisTarih" class="form-control" th:value="${fisTarih}" style="width: 125px; font-weight: bold;" />
					<span style="padding-left: 10px;"></span> 
					<label style="width:75px;">Ozel Kod</label>	
					
						<select class="form-select" style=" width: 150px; " id="ozelkod" >
    						<option th:each="kod : ${ozelKodlari}" th:value="${kod.Ozel_Kod}" th:text="${kod.Ozel_Kod}"></option>
						</select>
						
					<span style="padding-left: 10px;"></span> 	
					<label style="width:75px;">Ana Grup</label>	
					
						<select class="form-select cins_bold" style="width: 150px; " id="anagrp" onchange="anagrpChanged(this)">
    						<option th:each="kod : ${anaKodlari}" th:value="${kod.ANA_GRUP}" th:text="${kod.ANA_GRUP}"></option>
						</select>
						
					<span style="padding-left: 10px;"></span> 	
					<label style="width:75px;">Alt Grup</label>	
					
						<select class="form-select cins_bold" style="width: 165px; " id="altgrp" disabled>
    						
						</select>
						
				</div>
			<!-- 2 SATIR  -->
			<div style="display: flex; align-items: center;margin-top:10px; ">
					<label style="min-width:85px;">Cari Kod</label>
					<div style="min-width: 120px;max-width: 120px;">
						<input class="form-control" style="font-weight: bold;" id="carikod"
						  ondblclick="openSecondModal('carikod', 'fatura')"
								maxlength="12" 
								oninput="hesapAdiOgren(this.value, 'cariadilbl')">
					</div>
					<span style="padding-left: 187px;"></span> 
					<label style="width:70px;">Adres Kod</label>
					<span style="padding-left: 5px;"></span> 
					<input  id="adreskod" class="form-control" oninput="adrhesapAdiOgren('adreskod','adresadilbl')" ondblclick="openadrkodlariModal('adreskod', 'fatura')"  style="width: 120px; font-weight: bold;" />
					<span style="padding-left: 35px;"></span> 	
					<label style="width:80px;">Varsayilan</label>	
					
						<select class="form-select cins_bold" style="width: 150px; " id="uygulananfiat" >
    						<option value=""></option>
    						<option value="fiat1">Fiat 1</option>
    						<option value="fiat2">Fiat 2</option>
    						<option value="fiat3">Fiat 3</option>
    						<option value="sonsatis">Son Satis Fiati</option>
						</select>
						
					<span style="padding-left: 10px;"></span> 	
					<label style="width:75px;">Doviz</label>	
					<input id="dovizcins" class="form-control" style="width: 50px;" th:value="${doviz}"/>
					<span style="padding-left: 20px;"></span> 	
					<label style="width:40px;">Kur</label>	
					<input  id="kur" class="form-control" style="width: 70px;text-align: right;" value="0.0000" />
				</div>
			<!-- 2 SATIR  SONU -->
			<!-- 3 SATIR  -->
			<div style="display: flex; align-items: center; ">
					<span style="padding-left: 85px;"></span> 
					<label style="width:350px;" id="cariadilbl"></label>
					<span style="padding-left: 5px;"></span> 
					<span style="padding-left: 45px;"></span> 	
					<label style="min-width:350px;" id="adresadilbl"></label>	
				</div>
			<!-- 3 SATIR  SONU -->
			</div>
			<div class="group-box">
				<div class="form-row">
					<button class="btn btn-primary" type="button" id="fatkaydetButton"
						onclick="fatKayit()">Kaydet</button>
					<span style="padding-left: 5px;"></span>
					<button class="btn btn-primary" type="button" id="fatsilButton"	onclick="fatYoket()">Sil</button>
					<span style="padding-left: 5px;"></span>
					<button class="btn btn-primary" type="button" id="carkayitButton"	onclick="openFirstModal('fatura')">Cari Kaydet</button>
					<span style="padding-left: 25%;"></span>
					
							<select class="form-select" style="width: 150px;font-weight: bold;" id="gircik" >
    							<option value="SATIS">SATIS</option>
    							<option value="ALIS">ALIS</option>
							</select>
					
				</div>
			</div>
		</div>
		<div class="child2">
				<div class="resimdiv">
 					<img id="resimGoster" class="resimgoster"  src="" alt="Base64 Resim" style="display: none;" />
     			</div>
		</div>
		</div>
		<div id="errorDiv" style="display: none; color: red; font-weight: bold;"></div>
	</div>
	<!-- Tab 2 Content -->
	<div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
		<div class="card p-4">
		<div class="form-row">
			<div class="input-group" style="padding: 2px;">
				<div class="input-group-prepend">
					<span class="input-group-text" style="width: 150px;">Not 1</span>
				</div>
				<span style="padding-left: 5px;"></span> <input type="text"
					id="not1" class="form-control" style="max-width: 300px;">
			</div>
			<div class="form-check" style="width: 350px;">
				<input type="checkbox" class="form-check-input" id="fatmikyazdir">
				<label class="form-check-label" for="izinlimi" >Faturada Toplam miktar Yazdir</label>
			</div>
		</div>
			<div class="form-row">
			<div class="input-group" style="padding: 2px;">
				<div class="input-group-prepend">
					<span class="input-group-text" style="width: 150px;">Not 2</span>
				</div>
				<span style="padding-left: 5px;"></span> <input type="text"
					id="not2" class="form-control" style="max-width: 300px;">
			</div>
			</div>
			<div class="form-row">
			<div class="input-group" style="padding: 2px;">
				<div class="input-group-prepend">
					<span class="input-group-text" style="width: 150px;">Not 3</span>
				</div>
				<span style="padding-left: 5px;"></span> <input type="text"
					id="not3" class="form-control" style="max-width: 300px;">
			</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
		
	<div class="card p-4">
		<div class="form-row">
			<div class="input-group" style="padding: 2px;">
				<div class="input-group-prepend">
					<span class="input-group-text" style="width: 150px;">1 -</span>
				</div>
				<span style="padding-left: 5px;"></span> <input type="text"
					id="a1" class="form-control" style="max-width: 300px;">
			</div>
		</div>
			<div class="form-row">
			<div class="input-group" style="padding: 2px;">
				<div class="input-group-prepend">
					<span class="input-group-text" style="width: 150px;">2 -</span>
				</div>
				<span style="padding-left: 5px;"></span> <input type="text"
					id="a2" class="form-control" style="max-width: 300px;">
			</div>
			</div>
		</div>
	</div>	
</div>
<button type="button" class="btn btn-secondary ml-2" onclick="satirekle()"><i class="fa fa-plus"></i></button>

<table class="table table-bordered" id="fatTable"
	style="margin-top: 5px;">
	<thead class="thead-dark">
		<tr>
			<th style="width:25px;"></th>
			<th style="width:10%">BARKOD</th>
			<th>URUN KODU</th>
			<th style="width:15%">DEPO</th>
			<th style="width:10%" class="double-column">FIAT</th>
			<th style="width:7%" class="double-column">ISKONTO</th>
			<th style="width:10%" class="double-column">MIKTAR</th>
			<th style="width:6%">BIRIM</th>
			<th style="width:5%" class="double-column">KDV</th>
			<th style="width:12%" class="double-column">TUTAR</th>
			<th style="width:13%">IZAHAT</th>
		</tr>
	</thead>
	<tbody id="tbody">
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td id="totalSatir">0</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="totalMiktar" class="saga-bold">0.00</td>
			<td></td>
			<td></td>
			<td id="totalTutar" class="saga-bold">0.00</td>
			<td></td>
		</tr>
	</tfoot>
</table>
<div class="card p-4">
	<div class="form-row">
		<span style="padding-left: 10px;width:90px;">Barkod:</span>
		<input  id="barkod" class="form-control" style="width: 170px; font-weight: bold;" />
		<span style="padding-left: 20px;width:100px;">Iskonto:</span>
		<label style="width:100px;text-align: right; font-weight: bold;" id="iskonto">0.00</label> 
		<span style="padding-left: 20px;width:120px;">K.D.V.:</span>
		<label style="width:100px;text-align: right; font-weight: bold;" id="kdv">0.00</label> 
		<span style="padding-left: 20px;width:150px;">Tev.Edi.K.D.V.:</span>
		<label style="width:100px;text-align: right; font-weight: bold;" id="tevedkdv">0.00</label> 
		<span style="padding-left: 20px;width:120px;">Beyan.Edi.K.D.V.:</span>
		<span style="padding-left: 10px;"></span>
		<label style="width:100px;text-align: right; font-weight: bold;" id="beyedikdv">0.00</label> 
	</div>
	<div class="form-row">
		<span style="padding-left: 10px;width:90px;"></span>
		<label style="width:170px; font-weight: bold;" id="urunadi"></label> 
		<span style="padding-left: 20px;width:100px;">Bakiye :</span>
		<label style="width:100px;text-align: right; font-weight: bold;" id="bakiye">0.00</label> 
		<span style="padding-left: 20px;width:120px;">Tevkifat Oran :</span>
		<input  id="tevoran" class="form-control" style="width: 50px; font-weight: bold;" oninput="updateColumnTotal()"  value="0.00"/>
		<span style="padding-left: 70px;width:200px;">Tev.Dah.Top.Tut.:</span>
		<label style="width:100px;text-align: right; font-weight: bold;" id="tevdahtoptut">0.00</label> 
		<span style="padding-left: 20px;width:120px;">Tev.Har.Top.Tut. :</span>
		<span style="padding-left: 10px;"></span>
		<label style="width:100px;text-align: right; font-weight: bold;" id="tevhartoptut">0.00</label> 
	</div>
	<div class="form-row">
		<span style="padding-left: 10px;width:90px;"></span>
		<label style="width:170px; font-weight: bold;" id="anaalt"></label> 
		
	</div>
</div>
<input type="hidden" id="faturaBilgi">
<input type="hidden" id="defaultdvzcinsi" th:value="${doviz}">

<div th:replace="~{modal/borc_alacak :: modalborcalacak}"></div>
<div th:replace="~{modal/yenihsppln :: secondModal}"></div>
<div th:replace="~{modal/stok/urunadlari :: urnsecondModal}"></div>
<div th:replace="~{modal/adres/adrhplnmodal :: adrsecondModal}"></div>



<script src="/obs_js_files/stok/fatura.js"></script>