<link rel="stylesheet" href="style/yenihsppln.css" />
<link rel="stylesheet" href="style/urnkodlari.css" />

<style>
.editable-cell {
	cursor: text;
}

.double-column {
	text-align: right;
}

.tah-table th, .tah-table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	height: 15px;
}



.group-box {
	border: 1px solid #ccc;
	padding: 7px;
	margin: 10px;
	width: 98%;
	box-sizing: border-box;
}

.child {
	width: 80%;
	padding: 2px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-items: center;
}

.child2 {
	width: 20%;
	padding: 2px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-items: center;
}

.form-row {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

datalist {
	display: none;
}



.saga-bold {
	text-align: right;
	font-weight: bold;
}



.table .thead-dark th {
  color: #fff;
  background: #214162;
}
.cardd {
    display: flex;gap: 10px;
}

.resimdiv {
  width: 100%; /* Sabit genişlik */
    min-height: 100%; /* Sabit yükseklik */
    border: 1px solid #ddd; 
    overflow: hidden; /* Resmin taşmasını engelle */
    background-color: #f8f9fa; /* Arka plan rengi */
    display: flex; /* İçeriği ortalamak için */
    justify-content: center; /* Yatay merkezleme */
    align-items: center; /* Dikey merkezleme */
}
.resimgoster {
    max-width: 100%; /* Resmi genişlik olarak sınırlamak için */
    max-height: 100%; /* Resmi yükseklik olarak sınırlamak için */
     object-fit: contain; /* Resmi divin içine sığdırırken orantıyı korur */
    background-color: #f8f9fa; /* Arka plan rengi */
    
}
</style>

<div class="card p-4">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="tab1-tab"
				style="font-weight: bold;" data-bs-toggle="tab"
				data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1"
				aria-selected="true">Fatura Bilgileri</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="tab2-tab" style="font-weight: bold;"
				data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab"
				aria-controls="tab2" aria-selected="false">Yazici Bilgileri</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="tab2-tab" style="font-weight: bold;"
				data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab"
				aria-controls="tab3" aria-selected="false">Ek Bilgiler</button>
		</li>
	</ul>
</div>
<!-- Tab Content -->
<div class="tab-content" id="myTabContent">
	<!-- Tab 1 Content -->
	<div class="tab-pane fade show active" id="tab1" role="tabpanel"
		aria-labelledby="tab1-tab">
		<div class="cardd p-4">
		<div class="child">
			<!-- ****************************************************************************************************** -->
			<div class="group-box">
				<div style="display: flex; align-items: center; ">
					<label style="width:85px;">Fis No</label>
					<div style="position: relative; width: 120px;">
						<input class="form-control" style="font-weight: bold;" maxlength="10" id="fisno"  onkeydown="if(event.key === 'Enter') uretimOku()" ondblclick="yeniFis();">
					</div>
					<span style="padding-left: 5px;"></span>
					<button type="button" class="btn btn-secondary ml-2" onclick="sonfis()">
							<i class="fa fa-refresh"></i>
					</button>
					<span style="padding-left: 10px;"></span> 
					<input type="date" id="fisTarih" class="form-control"
							th:value="${tarih}" style="width: 125px; font-weight: bold;" />
					
					<span style="padding-left: 10px;"></span> 	
					<label style="min-width:75px;">Depo</label>	
					<div style="position: relative; width: 150px;">
						<select class="form-control cins_bold" style="width: 100%; padding-right: 30px;" id="depo" >
    						<option th:each="kod : ${depoKodlari}" th:value="${kod.DEPO}" th:text="${kod.DEPO}"></option>
						</select>
						<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
					</div>
					<span style="padding-left: 10px;"></span> 	
					<label style="min-width:75px;">Ana Grup</label>	
					<div style="position: relative; width: 150px;">
						<select class="form-control cins_bold" style="width: 100%; padding-right: 30px;" id="anagrp" onchange="anagrpChanged(this)">
    						<option th:each="kod : ${anaKodlari}" th:value="${kod.ANA_GRUP}" th:text="${kod.ANA_GRUP}"></option>
						</select>
						<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
					</div>
					<span style="padding-left: 10px;"></span> 	
					<label style="min-width:75px;">Alt Grup</label>	
					<div style="position: relative; width: 150px;">
						<select class="form-control cins_bold" style="width: 100%; padding-right: 30px;" id="altgrp" disabled>
    						<option th:each="kod : ${altKodlari}" th:value="${kod.ALT_GRUP}" th:text="${kod.ALT_GRUP}"></option>
						</select>
						<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
					</div>
				</div>

			<!-- 2 SATIR  -->
			
			<div style="display: flex; align-items: center;margin-top:10px; ">
					<label style="width:85px;">Cari Kod</label>
					<div style="position: relative; width: 120px;">
						<input class="form-control" style="font-weight: bold;" maxlength="10" id="fisno"  onkeydown="if(event.key === 'Enter') uretimOku()" ondblclick="yeniFis();">
					</div>
					
					<span style="padding-left: 170px;"></span> 
					<label style="width:85px;">Adres Kod</label>
					<span style="padding-left: 5px;"></span> 
					<input  id="fisTarih" class="form-control" style="width: 125px; font-weight: bold;" />
					
					<span style="padding-left: 35px;"></span> 	
					<label style="min-width:75px;">Varsayilan</label>	
					<div style="position: relative; width: 150px;">
						<select class="form-control cins_bold" style="width: 100%; padding-right: 30px;" id="depo" >
    						<option value=""></option>
    						<option value="fiat1">Fiat 1</option>
						</select>
						<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
					</div>
					<span style="padding-left: 10px;"></span> 	
					<label style="min-width:75px;">Doviz</label>	
					<input  id="fisTarih" class="form-control" style="width: 50px;" />
					<span style="padding-left: 20px;"></span> 	
					<label style="min-width:40px;">Kur</label>	
					<input  id="fisTarih" class="form-control" style="width: 60px;" />
				</div>
			
			<!-- 2 SATIR  SONU -->
						<!-- 3 SATIR  -->
			
			<div style="display: flex; align-items: center; ">
					<span style="padding-left: 85px;"></span> 
					
					
					<label style="width:200px;">....</label>
					<span style="padding-left: 5px;"></span> 
					
					
					<span style="padding-left: 85px;"></span> 	
					<label style="min-width:300px;">...</label>	
					
					
				</div>
			
			<!-- 3 SATIR  SONU -->
			
			</div>

			<div class="group-box">
				<div class="form-row">
					<button class="btn btn-primary" type="button" id="urekaydetButton"
						onclick="ureKayit()">Kaydet</button>
					<span style="padding-left: 5px;"></span>
					<button class="btn btn-primary" type="button" id="uresilButton"
						onclick="ureYoket()">Sil</button>
						
						<span style="padding-left: 25%;"></span>
						<div style="position: relative; width: 150px;">
						<select class="form-control" style="width: 100%; padding-right: 30px;font-weight: bold;" id="depo" >
    						<option value="">SATIS</option>
    						<option value="">ALIS</option>
						</select>
						<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
					</div>
					
					
				</div>
			</div>

		</div>
		<div class="child2">
				<div class="resimdiv">
 					<img id="resimGoster" class="resimgoster"  src="" alt="Base64 Resim" style="display: none;" />
     			</div>
		</div>

		</div>
		<div id="errorDiv"
			style="display: none; color: red; font-weight: bold;"></div>
		<div th:with="errorMessage=${errorMessage ?: ''}" id="errorDiv2"
			th:if="${errorMessage}" th:text="${errorMessage}"
			style="color: red; font-weight: bold;"></div>
	</div>
	<!-- Tab 2 Content -->
	<div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
		<div class="card p-4">
		<div class="form-row">
			<div class="input-group" style="padding: 2px;">
				<div class="input-group-prepend">
					<span class="input-group-text" style="width: 150px;">Aciklama 1</span>
				</div>
				<span style="padding-left: 5px;"></span> <input type="text"
					id="aciklama1" class="form-control" style="max-width: 300px;">
			</div>
			
			<div class="form-check" style="width: 350px;">
				<input type="checkbox" class="form-check-input" id="izinlimi">
				<label class="form-check-label" for="izinlimi" >Faturada Toplam miktar Yazdir</label>
			</div>
					
		</div>
			
			<div class="form-row">
			<div class="input-group" style="padding: 2px;">
				<div class="input-group-prepend">
					<span class="input-group-text" style="width: 150px;">Aciklama 2</span>
				</div>
				<span style="padding-left: 5px;"></span> <input type="text"
					id="aciklama2" class="form-control" style="max-width: 300px;">
			</div>
			</div>
			
			<div class="form-row">
			<div class="input-group" style="padding: 2px;">
				<div class="input-group-prepend">
					<span class="input-group-text" style="width: 150px;">Aciklama 3</span>
				</div>
				<span style="padding-left: 5px;"></span> <input type="text"
					id="aciklama2" class="form-control" style="max-width: 300px;">
			</div>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
		
				<div class="card p-4">
		<div class="form-row">
			<div class="input-group" style="padding: 2px;">
				<div class="input-group-prepend">
					<span class="input-group-text" style="width: 150px;">1 -</span>
				</div>
				<span style="padding-left: 5px;"></span> <input type="text"
					id="aciklama1" class="form-control" style="max-width: 300px;">
			</div>
			
			
					
		</div>
			
			<div class="form-row">
			<div class="input-group" style="padding: 2px;">
				<div class="input-group-prepend">
					<span class="input-group-text" style="width: 150px;">2 -</span>
				</div>
				<span style="padding-left: 5px;"></span> <input type="text"
					id="aciklama2" class="form-control" style="max-width: 300px;">
			</div>
			</div>
		</div>
		
		
	</div>	
</div>

<button type="button" class="btn btn-secondary ml-2"
	onclick="cekgiraddRow()">
	<i class="fa fa-plus"></i>
</button>

<table class="table table-bordered" id="fatTable"
	style="margin-top: 5px;">
	<thead class="thead-dark">
		<tr>
			<th style="width:25px;">&#8203;</th>
			<th style="width:7%">Barkod</th>
			<th>Urun Kodu</th>
			<th style="width:10%">Depo</th>
			<th style="width:10%" class="double-column">Fiat</th>
			<th style="width:5%" class="double-column">Iskonto</th>
			<th style="width:7%" class="double-column">Miktar</th>
			<th style="width:5%">Birim</th>
			<th style="width:5%" class="double-column">Kdv</th>
			<th style="width:10%" class="double-column">Tutar</th>
			<th style="width:15%">Izahat</th>
		</tr>
	</thead>
	<tbody id="tbody">
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="totalMiktar" class="saga-bold">0.00</td>
			<td></td>
			<td></td>
			<td id="totalTutar" class="saga-bold">0.00</td>
			<td></td>
		</tr>
	</tfoot>
</table>
<div class="card p-4">
	<div class="form-row">
		<span style="padding-left: 20px;width:100px;">Barkod:</span>
		<input  id="fisTarih" class="form-control" style="width: 150px; font-weight: bold;" />
		<span style="padding-left: 20px;width:100px;">Iskonto:</span>
		<label style="width:100px;" id="birim">...</label> 
		<span style="padding-left: 20px;width:120px;">K.D.V.:</span>
		<label style="width:100px;" id="anagrpl">...</label> 
		<span style="padding-left: 20px;width:150px;">Tev.Edi.K.D.V.:</span>
		<label style="width:100px;" id="agirlik">...</label> 
		<span style="padding-left: 20px;width:120px;">Beyan.Edi.K.D.V.:</span>
		<span style="padding-left: 10px;"></span>
		<label style="width:100px;" id="agirlik">...</label> 
	</div>
	<div class="form-row">
		<span style="padding-left: 20px;width:100px;"></span>
		<label style="width:150px;" id="sinif">...</label> 
		<span style="padding-left: 20px;width:100px;">Bakiye :</span>
		<label style="width:100px;" id="sinif">...</label> 
		<span style="padding-left: 20px;width:120px;">Tevkifat Oran :</span>
		<input  id="fisTarih" class="form-control" style="width: 50px; font-weight: bold;" />
		<span style="padding-left: 70px;width:200px;">Tev.Dah.Top.Tut.:</span>
		<label style="width:100px;" id="sinif">...</label> 
		<span style="padding-left: 20px;width:120px;">Tev.Har.Top.Tut. :</span>
		<span style="padding-left: 10px;"></span>
		<label style="width:100px;" id="sinif">...</label> 
	</div>
	<div class="form-row">
		<span style="padding-left: 20px;width:100px;"></span>
		<label style="width:150px;" id="sinif">...</label> 
		
	</div>
</div>

<input type="hidden" id="cekgirBilgi" name="cekgirBilgi"
	value="initialValue">

<script src="/obs_js_files/kambiyo/cekgiris.js"></script>

<div th:replace="~{modal/borc_alacak :: modalborcalacak}"></div>
<div th:replace="~{modal/yenihsppln :: secondModal}"></div>