<style>
    .editable-cell {
        cursor: text;
    }

    .double-column {
        text-align: right;
    }

    .tah-table th,
    .tah-table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: middle;
        height: 15px;
    }

    .group-box {
        border: 1px solid #ccc;
        padding: 7px;
        margin: 10px;
        width: 98%;
        box-sizing: border-box;
    }

    .child {
        width: 70%;
        padding: 2px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        align-items: center;
    }


    .form-row {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }

    datalist {
        display: none;
    }

    .toggle-button:hover {
        color: #007BFF;
    }

    .saga-bold {
        text-align: right;
        font-weight: bold;
    }

    .cins-bold {
        font-weight: bold;
    }

    .table .thead-dark th {
        color: #fff;
        background: #214162;
    }

    .cardd {
        display: flex;
        gap: 10px;
    }
</style>
<link rel="stylesheet" href="style/urnkodlari.css" />
<div class="card p-0">
    <div class="cardd p-2">
        <div class="child">
            <!-- ****************************************************************************************************** -->
            <div class="group-box">
                <div style="display: flex; align-items: center; ">
                    <label style="width:85px;">Kodu</label>
                    <div style="position: relative; width: 120px;">
                        <input class="form-control" style="font-weight: bold;" maxlength="10" id="recno"
                            onkeydown="if(event.key === 'Enter') receteOku()" ondblclick="yeniFis();">
                    </div>
                    <span style="padding-left: 5px;"></span>
                    <button type="button" class="btn btn-secondary ml-2" onclick="sonfis()">
                        <i class="fa fa-refresh"></i>
                    </button>
                    <span style="padding-left: 10px;"></span>
                    <label style="min-width:75px;">Ana Grup</label>
                    <div style="position: relative; width: 150px;">
                        <select class="form-control cins_bold" style="width: 100%; padding-right: 30px;" id="anagrp"
                            onchange="anagrpChanged(this)">
                            <option th:each="kod : ${anaKodlari}" th:value="${kod.ANA_GRUP}" th:text="${kod.ANA_GRUP}">
                            </option>
                        </select>
                        <span
                            style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;">
                            ▼ </span>
                    </div>
                    <span style="padding-left: 10px;"></span>
                    <label style="min-width:75px;">Alt Grup</label>
                    <div style="position: relative; width: 150px;">
                        <select class="form-control cins_bold" style="width: 100%; padding-right: 30px;" id="altgrp"
                            disabled>
                        </select>
                        <span
                            style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;">
                            ▼ </span>
                    </div>
                </div>
                <div style="display: flex;align-items:center;margin-top:15px;">
                    <label style="width: 76px;">Aciklama</label>
                    <span style="padding-left: 10px;"></span>
                    <textarea id="aciklama" placeholder="Aciklama" rows="4" required maxlength="294"
                        style="width:400px;min-height:50px;"></textarea>

                    <span style="padding-left: 80px;"></span>
                    <div style="position: relative; width: 150px;">
                        <select class="form-control cins_bold" style="width: 100%; padding-right: 30px;" id="durum">
                            <option value="A">Aktif</option>
                            <option value="P">Pasif</option>
                        </select>
                        <span
                            style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;">
                            ▼ </span>
                    </div>
                </div>
            </div>
            <div class="group-box">
                <div class="form-row">
                    <button class="btn btn-primary" type="button" id="reckaydetButton"
                        onclick="recKayit()">Kaydet</button>
                    <span style="padding-left: 5px;"></span>
                    <button class="btn btn-primary" type="button" id="recsilButton" onclick="recYoket()">Sil</button>
                </div>
            </div>

        </div>
    </div>

    <div id="errorDiv" style="display: none; color: red; font-weight: bold;"></div>
    <div class="cardd p-1">
        <div class="child">
            <div class="group-box">
                <div style="display: flex;align-items:center;margin-top:10px;">
                    <button type="button" class="btn btn-secondary ml-2" style="margin-top: 5px;"
                        onclick="satirekle()"><i class="fa fa-plus"></i></button>
                    <span style="padding-left: 5px;"></span>
                    <button type="button" class="btn btn-secondary ml-2" style="margin-top: 5px;"
                        onclick="uretimYap()"><i class="fa fa-archive"></i></button>
                </div>
                <table class="table table-bordered" id="recTable" style="margin-top: 5px;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="width:25px;"></th>
                            <th style="width:7%">Tur</th>
                            <th style="width:13%">Urun Kodu</th>
                            <th>Adi</th>
                            <th style="width:10%">Birim</th>
                            <th class="double-column" style="width:17%">Miktar</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <span style="padding-left: 20px;font-weight: bold;">Uretilecek Yeni Urun</span>

    <div class="cardd p-1">
        <div class="child">
            <div class="group-box">
                <div class="form-row">
                    <span style="padding-left: 20px;width:100px;">Kodu :</span>
                    <input id="ukodu" class="form-control" style="width: 120px; font-weight: bold;" 
                            ondblclick="openurunkodlariModal('ukodu', 'recetealt','ukodukod')"
                             onchange="updateurunValues(this)" />
                    <span style="padding-left: 20px;width:100px;">Agirlik :</span>
                    <label style="width:100px;" id="agirlik">0.000</label>
                    <span style="padding-left: 20px;width:150px;">Ana Grup :</span>
                    <label style="width:150px;" id="anagrpl"></label>
                </div>
                <div class="form-row">
                    <span style="padding-left: 20px;width:100px;">Barkod :</span>
                    <label style="width:120px;" id="barkod"></label>
                    <span style="padding-left: 20px;width:100px;">Birim :</span>
                    <label style="width:100px;" id="birim"></label>
                    <span style="padding-left: 20px;width:150px;">Alt Grup :</span>
                    <label style="width:150px;" id="altgrpl"></label>
                </div>
                <div class="form-row">
                    <span style="padding-left: 20px;width:100px;"></span>
                    <label style="width:300px;" id="adi">...</label>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="uretimBilgi" value="">

<div th:replace="~{modal/stok/urunadlari :: urnsecondModal}"></div>

<script src="/obs_js_files/stok/recete.js"></script>