<style>
.editable-cell {
	cursor: text;
}

.double-column {
	text-align: right;
}

.tah-table th, .tah-table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	height: 15px;
}



.group-box {
	border: 1px solid #ccc;
	padding: 7px;
	margin: 10px;
	width: 98%;
	box-sizing: border-box;
}

.child {
	width: 80%;
	padding: 2px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-items: center;
}

.child2 {
	width: 20%;
	padding: 2px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-items: center;
}

.form-row {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

datalist {
	display: none;
}

.toggle-button {
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	width: 20px;
	text-align: center;
}

.toggle-button:hover {
	color: #007BFF;
}

.saga-bold {
	text-align: right;
	font-weight: bold;
}

.cins-bold {
	font-weight: bold;
}

.table .thead-dark th {
  color: #fff;
  background: #214162;
}
.cardd {
    display: flex;gap: 10px;
}

.resimdiv {
  width: 100%; /* Sabit genişlik */
    min-height: 100%; /* Sabit yükseklik */
    border: 1px solid #ddd; 
    overflow: hidden; /* Resmin taşmasını engelle */
    background-color: #f8f9fa; /* Arka plan rengi */
    display: flex; /* İçeriği ortalamak için */
    justify-content: center; /* Yatay merkezleme */
    align-items: center; /* Dikey merkezleme */
}
.resimgoster {
    max-width: 100%; /* Resmi genişlik olarak sınırlamak için */
    max-height: 100%; /* Resmi yükseklik olarak sınırlamak için */
     object-fit: contain; /* Resmi divin içine sığdırırken orantıyı korur */
    background-color: #f8f9fa; /* Arka plan rengi */
    
}
</style>
<link rel="stylesheet" href="style/yenihsppln.css" />

<div class="card p-0">
		<div class="cardd p-4">
		<div class="child">
			<!-- ****************************************************************************************************** -->
			<div class="group-box">
				<div style="display: flex; align-items: center; ">
					<label for="label5" style="width:105px;">Fis No</label>
					<div style="position: relative; width: 130px;">
						<input class="form-control" style="font-weight: bold;" maxlength="10" id="fisno"  onkeydown="if(event.key === 'Enter') uretimOku()" ondblclick="yeniFis();">
					</div>
					<span style="padding-left: 5px;"></span>
					<button type="button" class="btn btn-secondary ml-2" onclick="sonfis()">
							<i class="fa fa-refresh"></i>
					</button>
					<span style="padding-left: 10px;"></span> 
					<input type="date" id="fisTarih" class="form-control"
							th:value="${tarih}" style="width: 125px; font-weight: bold;" />
					
					<span style="padding-left: 10px;"></span> 	
					<label for="label5" style="min-width:75px;">Depo</label>	
					<div style="position: relative; width: 150px;">
						<select class="form-control cins_bold" style="width: 100%; padding-right: 30px;" id="depo" >
    						<option th:each="kod : ${depoKodlari}" th:value="${kod.DEPO}" th:text="${kod.DEPO}"></option>
						</select>
						<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
					</div>
					<span style="padding-left: 10px;"></span> 	
					<label for="label5" style="min-width:75px;">Ana Grup</label>	
					<div style="position: relative; width: 150px;">
						<select class="form-control cins_bold" style="width: 100%; padding-right: 30px;" id="anagrp" onchange="anagrpChanged(this)">
    						<option th:each="kod : ${anaKodlari}" th:value="${kod.ANA_GRUP}" th:text="${kod.ANA_GRUP}"></option>
						</select>
						<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
					</div>
					<span style="padding-left: 10px;"></span> 	
					<label for="label5" style="min-width:75px;">Alt Grup</label>	
					<div style="position: relative; width: 150px;">
						<select class="form-control cins_bold" style="width: 100%; padding-right: 30px;" id="altgrp" disabled>
    						<option th:each="kod : ${altKodlari}" th:value="${kod.ALT_GRUP}" th:text="${kod.ALT_GRUP}"></option>
						</select>
						<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
					</div>
				</div>
				
				<!-- 				Uretim Bilgileri -->
				<div style="border: 1px solid #ccc;margin-top:10px;">
				<div style="display: flex; align-items: center;margin-top: 10px;margin-bottom: 10px;">
					<span style="padding-left: 5px;"></span>
					<label style="min-width: 100px;">Urun Kodu</label>
					<input class="form-control" style="width: 100px;" maxlength="12" id="girenurnkod" onkeydown="if(event.key === 'Enter') urnaramaYap()">
					<span style="padding-left: 10px;"></span>
					<button type="button" class="btn btn-secondary ml-2" onclick="">
							<i class="fa fa-refresh"></i>
					</button>
					<span style="padding-left: 10px;"></span>
					<label  for="label4" style="min-width: 75px;">Recete Kodu</label>
					<span style="padding-left: 10px;"></span>
					<input class="form-control cins_bold" maxlength="10" id="recetekod" style="width: 100px;">
					<span style="padding-left: 10px;"></span>
					<label  for="label4" style="min-width: 75px;">Uretim Miktari</label>
					<span style="padding-left: 10px;"></span>
					<input class="form-control saga_bold" maxlength="10" id="uretmiktar" value="0" style="width: 100px;">
				</div>
				</div>
				
				<div style="display: flex;align-items:center;margin-top:7px;">
					<label for="label5" >Uygulanacak Fiat</label>
					<span style="padding-left: 10px;"></span>
					<select class="form-control" id="uygulananfiat" onchange="uygulananfiatchange()" style="width: 150px;">
						<option value=""></option>
						<option value="ortfiat">Ortalama_Gris_Fiati</option>
						<option value="sonimalat">Son_Imalat</option>
						<option value="fiat1">Fiat_1</option>
						<option value="fiat2">Fiat_2</option>
						<option value="fiat3">Fiat_3</option>
					</select>
					<span style="padding-left: 10px;"></span>
					<label id="datlabel"  style="visibility:hidden">Dikkatae Alinacak Tarih</label>
					<span style="padding-left: 10px;"></span>
					<input type="date" id="fiatTarih"  style="visibility:hidden;width: 125px;" class="form-control"
							value="1900-01-01"  />
							
					<span style="padding-left: 100px;"></span>
					<label style="width: 150px;">Uretim Birim Fiat</label>
					<span style="padding-left: 10px;"></span>
					<label  style="width: 75px;" id="birimfiati">0.00</label>
				</div>	
				<div style="display: flex;align-items:center;margin-top:7px;">
					<label >Aciklama</label>
					<span style="padding-left: 10px;"></span>
					<input class="form-control" maxlength="50" id="aciklama" style="width: 300px;">
				</div>	
			</div>

			<div class="group-box">
				<div class="form-row">
					<button class="btn btn-primary" type="button" id="gbkaydetButton"
						onclick="gbKayit()">Kaydet</button>
					<span style="padding-left: 5px;"></span>
					<button class="btn btn-primary" type="button" id="gbsilButton"
						onclick="gbYoket()">Sil</button>
				</div>
			</div>

		</div>
		<div class="child2">
				<div class="resimdiv">
 					<img id="resimGoster" class="resimgoster"  src="" alt="Base64 Resim" style="display: none;" />
     			</div>
		</div>
		</div>
		</div>
		<div id="errorDiv"	style="display: none; color: red; font-weight: bold;"></div>
<div style="display: flex;align-items:center;margin-top:7px;">
	<button type="button" class="btn btn-secondary ml-2" style="margin-top: 5px;" onclick="satirekle()"><i class="fa fa-plus"></i></button>
	<span style="padding-left: 5px;"></span>
	<button type="button" class="btn btn-secondary ml-2" style="margin-top: 5px;" onclick="uretimYap()"><i class="fa fa-archive"></i></button>

</div>
<table class="table table-bordered" id="gbTable"
	style="margin-top: 5px;">
	<thead class="thead-dark">
		<tr>
			<th style="width:25px"></th>
			<th style="width:5%">Tur</th>
			<th style="width:7%">Urun Kodu</th>
			<th>Adi</th>
			<th style="width:20%">Izahat</th>
			<th style="width:10%">Depo</th>
			<th class="double-column" style="width:7%">Miktar</th>
			<th style="width:6%">Birim</th>
			<th class="double-column" style="width:10%">Fiat</th>
			<th class="double-column" style="width:10%">Tutar</th>
		</tr>
	</thead>
	<tbody id="tbody">
	</tbody>
	<tfoot>
		<tr>
		<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td id="totalTutar" class="saga-bold">0.00</td>
		</tr>
	</tfoot>
</table>
 <div class="card p-4">
	<div class="form-row">
		<span style="padding-left: 20px;width:100px;">Adi :</span>
		<label style="width:150px;" id="adi">...</label> 
		<span style="padding-left: 20px;width:100px;">Birim :</span>
		<label style="width:100px;" id="birim">...</label> 
		<span style="padding-left: 20px;width:150px;">Ana Grup :</span>
		<label style="width:150px;" id="anagrpl">...</label> 
		<span style="padding-left: 20px;width:100px;">Agirlik :</span>
		<label style="width:100px;" id="agirlik">...</label> 
	</div>
	<div class="form-row">
		<span style="padding-left: 20px;width:100px;">Barkod :</span>
		<label style="width:150px;" id="barkod">...</label> 
		<span style="padding-left: 20px;width:100px;">Sinif :</span>
		<label style="width:100px;" id="sinif">...</label> 
		<span style="padding-left: 20px;width:150px;">Alt Grup :</span>
		<label style="width:150px;" id="altgrpl">...</label> 
		
	</div>
</div>
<input type="hidden" id="uretimBilgi"  value="">

<script src="/obs_js_files/stok/uretim.js"></script>
