<style>


.child {
	width: 95%;
	padding: 2px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.group-box {
	padding: 1px;
	width: 97%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.aramagroup-box {
	width: 97%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	border: 1px solid #ccc;
	height: 50px;
}
.centered-div {
	width: 60%;
	margin: 0 auto; 
/*	padding: 4px;
	border: 1px solid #ccc;  */
	box-sizing: border-box;
	text-align: center;
}

.resimcentered-div {
	width: 250px;
    height: 330px;
    
	margin: 0 auto;
	box-sizing: border-box;
	
	display: flex;
	flex-direction: column;
	align-items: left; 
	gap: 8px;
}

.resimgoster {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 250px; 
    height: 300px;
    border: 1px solid #ddd;
    overflow: hidden;
    background-color: #f8f9fa; 
    
}
.resimdiv {
  display: flex;
    width: 250px; 
    min-height: 300px;
   border: 1px solid #ddd; 
    overflow: hidden; 
    background-color: #f8f9fa; 
}

</style>
<!-- Ana Sayfa -->
<div id="errorDiv" style="display: none; color: red; font-weight: bold;"></div>

<div class="card p-4 d-flex flex-row gap-3">
    <div class="centered-div">
        <div class="aramagroup-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Arama</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="arama"  style="max-width:300px;" class="form-control" oninput="urnaramaYap('Kodu')"  th:value="${urunKodu}" >
            <span style="padding-left: 50px;"></span>

			<div style="position: relative; width: 150px;">
				<input class="form-control cins_bold" maxlength="12"
					list="urnOptions" id="urunKodlari"
					style="width: 100%; padding-right: 30px;">
				<datalist id="urnOptions">
					<option th:each="kod : ${urunKodlari}" th:value="${kod.Kodu}"></option>
				</datalist>
				<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
			</div>

		</div>
        <div class="aramagroup-box" style="margin-top:5px;">
            <span style="padding-left: 5px;"></span>
            <button type="button" id="geriButton" class="btn btn-secondary ml-2" onclick="urnGeri()" ><i class="fa fa-backward"></i></button>
            <span style="padding-left: 5px;"></span>
            <button type="button" id="ilkButton" class="btn btn-secondary ml-2" onclick="urnIlk()" ><i class="fa fa-refresh"></i></button>
            <span style="padding-left: 5px;"></span>
            <button type="button" id="ileriButton" class="btn btn-secondary ml-2" onclick="urnIleri()" ><i class="fa fa-forward"></i></button>
        </div>
        <div class="group-box" style="margin-top:5px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Urun Kodu</span>
            <span style="padding-left: 5px;"></span>
           <input type="text" id="kodu" disabled style="max-width:150px;font-weight: bold;" class="form-control" oninput="urnAdiOgren(this, 'adi')">
           <span style="padding-left: 5px;text-align:left; color:red;font-weight: bold;" id="kodKontrol"></span>
        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Adi</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="adi"  disabled style="max-width:300px;" class="form-control">
        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Birim</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="birim"  disabled class="form-control" style="max-width:100px;">
            <span style="padding-left: 5px;"></span>
            
           	<select class="form-select" id="birimtip" style="max-width:100px;" onchange="birimtipChanged(this)">
					<option value="Adet" selected >Adet</option>
					<option value="Kg">Kg</option>
					<option value="Ton">Ton</option>
					<option value="m3">m3</option>
					<option value="m2">m2</option>
					<option value="m/Tul">m/Tul</option>
			</select>
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Agirlik</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="agirlik"  disabled class="form-control" style="max-width:100px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:80px;">Kusurat</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="kusurat"  disabled class="form-control" style="max-width:50px;">
        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Sinif</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="sinif"  disabled class="form-control" style="max-width:100px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Mensei</span>
            <span style="padding-left: 5px;"></span>
           
				<select class="form-select cins_bold" style="width: 150px;" id="mensei" disabled>
    					<option th:each="kod : ${menseiKodlari}" th:value="${kod.MENSEI}" th:text="${kod.MENSEI}"></option>
				</select>
				

        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Ana Grup</span>
            <span style="padding-left: 5px;"></span>
           
				<select class="form-select cins_bold" style="width: 150px; " id="anagrup" disabled onchange="anaChanged(this)">
    				<option th:each="kod : ${anaKodlari}" th:value="${kod.ANA_GRUP}" th:text="${kod.ANA_GRUP}"></option>
				</select>
				
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Alt Grup</span>
            <span style="padding-left: 5px;"></span>
            
				<select class="form-select cins_bold" style="width: 150px;" id="altgrup" disabled>
    				<option th:each="kod : ${altKodlari}" th:value="${kod.ALT_GRUP}" th:text="${kod.ALT_GRUP}"></option>
				</select>
				

        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Aciklama 1</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="aciklama1"  disabled class="form-control" style="max-width:300px;">
        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Aciklama 2</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="aciklama2"  disabled class="form-control" style="max-width:300px;">
        </div>
        
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Ozel Kod 1</span>
            <span style="padding-left: 5px;"></span>
            
				<select class="form-select cins_bold" style="width: 150px; " id="ozelkod1" disabled>
    				<option th:each="kod : ${oz1Kodlari}" th:value="${kod.OZEL_KOD_1}" th:text="${kod.OZEL_KOD_1}"></option>
				</select>
				

            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Ozel Kod 2</span>
            <span style="padding-left: 5px;"></span>
            
				<select class="form-select cins_bold" style="width: 150px; " id="ozelkod2" disabled>
    				<option th:each="kod : ${oz2Kodlari}" th:value="${kod.OZEL_KOD_2}" th:text="${kod.OZEL_KOD_2}"></option>
				</select>
				

        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Fiat 1</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="fiat1"  disabled class="form-control" style="max-width:100px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Fiat 2</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="fiat2"  disabled class="form-control" style="max-width:100px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Fiat 3</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="fiat3"  disabled class="form-control" style="max-width:100px;">
        </div>
        <div class="group-box">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Barkod</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="barkod"  disabled class="form-control" style="max-width:150px;">
            <span style="padding-left: 5px;"></span>
            <span class="input-group-text" style="width:100px;">Recete</span>
            <span style="padding-left: 5px;"></span>
            <input type="text" id="recete"  disabled class="form-control" style="max-width:100px;">
        </div>
        <div class="aramagroup-box" style="margin-top:5px;">
            <span style="padding-left: 5px;"></span>
            <button type="button" id="kaydetButton" class="btn btn-secondary ml-2" onclick="urnKayit()" ><i class="fa fa-save"></i></button>
            <span style="padding-left: 5px;"></span>
            <button type="button" id="silButton" class="btn btn-secondary ml-2" onclick="urnSil()" ><i class="fa fa-trash"></i></button>
            <span style="padding-left: 5px;"></span>
            <button type="button" id="yeniButton" class="btn btn-secondary ml-2" onclick="urnenableInputs()" ><i class="fa fa-plus"></i></button>
        </div>
  </div>  
    <div class="resimcentered-div">
    	<div class="resimdiv">
 			<img id="resimGoster" class="resimgoster"  src="" alt="Base64 Resim" style="display: none;" />
     	</div>
     	<button type="button" id="resimremove" style="max-width:250px;" class="btn btn-secondary ml-2" onclick="resimSil()" ><i class="fa fa-remove"></i>	</button>
        <input type="file" id="resim" name="resim" accept="image/*" disabled class="form-control" style="max-width:400px;">
    </div>
    
</div>
<script src="/obs_js_files/stok/urunkart.js"></script>

<script>
document.getElementById('resim').addEventListener('change', function (event) {
    const file = event.target.files[0];
    const maxSizeInKB = 500;
    const maxSizeInBytes = maxSizeInKB * 1024;
	const errorDiv = document.getElementById("errorDiv");
    if (file && file.size > maxSizeInBytes) {
        errorDiv.innerText = `Dosya boyutu ${maxSizeInKB} KB'ı geçemez!`;
		errorDiv.style.display = "block";
        event.target.value = ''; 
    } else {
		errorDiv.style.display = "none";
		errorDiv.innerText = "";
    }
});
</script>

