<style>
    .container {
        height: 100vh; 
        display: flex;
        flex-direction: column; 
        margin-top: 10px;
        padding: 0px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    .details-row {
        display: none;
    }
    
    .expandable:hover {
        cursor: pointer;
    }
    
    .toggle-button {
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        width: 20px;
        text-align: center;
    }
    
    .toggle-button:hover {
        color: #007BFF;
    }
    
    .table-container {
        flex-grow: 1;
        overflow-y: auto;
        border: 1px solid #ccc;
        margin-top: 10px;
    }
    
    .details-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }
    
    .details-table th, .details-table td {
        border: 1px solid #ccc;
        padding: 6px;
    }
    
    .double-column {
        text-align: right;
    }
    
    .table-row-height td {
        height: 10px;
        line-height: 10px;
    }
    
    .table .thead-dark th {
        color: #fff;
        background: #214162;
    }
    </style>
        <div class="card p-1">
            <div style="display: flex; align-items: center;">
                <button class="btn btn-primary" type="button" id="grpyenileButton"
                    style="margin-left: 10px;" onclick="openFirstModal('grprapor')">Filtre</button>
                
                <button class="btn btn-primary" style="margin-left: 10px;" type="button" id="grprapreportDownload"
                 onclick="grpdownloadReport()" disabled>Excel Indir</button>
    
                <button class="btn btn-primary" style="margin-left: 10px;" type="button" id="grprapmailButton"
                 onclick="grpmailAt()" disabled>Email Gonder</button>
            </div>
        </div>
        <div id="errorDiv"
            style="display: none; color: red; font-weight: bold;"></div>
        <div class="container">
            <div class="table-container">
                <table id="main-table" class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        
                    </thead>
                    <tbody id="mainTableBody">
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    <input type="hidden" id="grpBilgi" name="grpBilgi" value="" />
    
    <script src="/obs_js_files/stok/raporlar/grprapor.js"></script>
    <div th:replace="~{modal/stok/grpfiltre :: modalgrp}"></div>
    <div th:replace="~{modal/stok/urunadlari :: urnsecondModal}"></div>