<style>
    .container {
        height: 100vh; 
        display: flex;
        flex-direction: column; 
        margin-top: 10px;
        padding: 0px;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        table-layout: auto;
    }
     th, td {
        border: 1px solid #ddd;
        padding: 8px;
        white-space: nowrap; 
    }
        
    .table-container {
        flex-grow: 1;
        overflow-y: auto;
        border: 1px solid #ccc;
        margin-top: 10px;
    }
    
        
    .double-column {
        text-align: right;
    }
    
    .table-row-height td {
        height: 10px;
        line-height: 10px;
    }
    
    .table .thead-dark th {
        color: #fff;
        background: #214162;
    }
    </style>
        <div class="card p-1">
            <div style="display: flex; align-items: center;">
                <button class="btn btn-primary" type="button" id="stokyenileButton"
                    style="margin-left: 10px;" onclick="openFirstModal('stokdetayrapor')">Filtre</button>
                
                <button class="btn btn-primary" style="margin-left: 10px;" type="button" id="stokdetayreportDownload"
                 onclick="stokdetaydownloadReport()" disabled>Excel Indir</button>
    
                <button class="btn btn-primary" style="margin-left: 10px;" type="button" id="stokdetaymailButton"
                 onclick="stokdetaymailAt()" disabled>Email Gonder</button>
            </div>
        </div>
        <div id="errorDiv"
            style="display: none; color: red; font-weight: bold;"></div>
        <div class="container">
            <div class="table-container">
                <table id="main-table" class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Urun_Kodu</th>
                            <th>Barkod</th>
                            <th>Adi</th>
                            <th>Izahat</th>
                            <th>Evrak_No</th>
                            <th>Hesap Kodu</th>
                            <th>Evrak_Cins</th>
                            <th>Tarih</th>
                            <th class="double-column">MIKTAR</th>
                            <th>Birim</th>
                            <th class="double-column">FIAT</th>
                            <th>Doviz</th>
                            <th class="double-column">MIKTAR_BAKIYE</th>
                            <th class="double-column">TUTAR</th>
                            <th class="double-column">TUTAR_BAKIYE</th>
                            <th>Ana Grup</th>
                            <th>Alt Grup</th>
                            <th>Depo</th>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody id="mainTableBody">
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    <input type="hidden" id="stokdetayBilgi" name="stokdetayBilgi" value="" />
    
    <script src="/obs_js_files/stok/raporlar/stokdetay.js"></script>
    <div th:replace="~{modal/stok/stokdetayfiltre :: modalstokdetay}"></div>
    <div th:replace="~{modal/stok/urunadlari :: urnsecondModal}"></div>