	
<style>

.table-hover tbody tr:hover {
	background-color: #ced4da !important;
	color: inherit !important;
}

.table-row-height td {
	height: 10px;
	line-height: 10px;
}

.table .thead-dark th {
 color: #fff;
  background: #214162;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
  }
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap;
  }
  .table-container {
    flex-grow: 1;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-top: 10px;
  }
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

</style>


<div class="card p-1">
		<div style="display: flex; align-items: center;">
			<select style="width:120px;" class="form-select" id="user_modul" name="user_modul">
				<option value="Cari Hesap">Cari Hesap</option>
				<option value="Fatura">Fatura</option>
				<option value="Kambiyo">Kambiyo</option>
				<option value="Adres">Adres</option>
				<option value="Kur">Kur</option>
				<option value="Sms">Sms</option>
				<option value="Gunluk">Gunluk</option>
			</select>
		  	<span style="padding-left: 5px;"></span>
  			<input type="date" style="width:120px;" id="startDate" class="form-control" value="1900-01-01">
  			<span style="padding-left: 5px;"></span>
  			<input type="date" style="width:120px;" id="endDate" class="form-control" value="2100-12-31">
			<span style="padding-left: 5px;"></span>
			<input type="text" id="aciklama" style="width:200px;" class="form-control"  placeholder="Aciklama" />
			<span style="padding-left: 5px;"></span>
			<button class="btn btn-primary" type="button" onclick="lograpor()" id="logyenileButton" style="margin-left: 10px;">Yenile</button>
	</div>
</div>
<div id="errorDiv" style="display: none; color: red; font-weight: bold;"></div>
<div class="container">
	<div class="table-container">
<table class="table table-bordered table-hover">
		 <thead class="thead-dark">
			<tr>
				<th>TARIH</th>
				<th>MESAJ</th>
				<th>EVRAK</th>
				<th>USER</th>
			</tr>
		</thead>
		<tbody id="tableBody">
		</tbody>
		<tfoot>
        <tr>
            <td> </td>
            <td> </td>
            <td> </td>
            <td> </td>
        </tr>
    </tfoot>
	</table>
</div>
</div>

<input type="hidden" id="logBilgi" name="logBilgi" value="initialValue">
<script src="/obs_js_files/user/lograpor.js"></script>