<div class="modal fade" th:fragment="adrsecondModal" id="adrsecondModal" tabindex="-2" aria-labelledby="secondModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" class="form-control" id="adrsecond-modalSearch" placeholder="Search..." oninput="adrfilterTable()">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="adrsecond-errorDiv"></div>
            <div class="adrsecond-modall-table-container">
                <table id="adrsecond-modalTable" class="table adrsecond-modal-table table-bordered table-hover">
                    <colgroup>
						<col style="width: 150px;">
						<col>
					</colgroup>
                    <thead>
                        <tr>
                            <th>KODU</th>
                            <th>UNVAN</th>
                        </tr>
                    </thead>
                    <tbody id="adrsecond-modalTableBody"></tbody>
                </table>
            </div>
            <div id="btnKapat">
				<button type="button" class="btn btn-primary" id="kapatbtn"
					data-bs-dismiss="modal" aria-label="Close">Kapat</button>
			</div>
        </div>
    </div>
</div>
