<div class="modal fade modal-gruprap" th:fragment="modalgrp" id="firstModal"
  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Grup Raporlama</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <!-- 1 -->
        <div class="input-group">
          <span class="input-group-text">Ilk Son Tarih</span>
          <input type="date" id="tar1" class="form-control" value="1900-01-01">
          <input type="date" id="tar2" class="form-control" value="2100-12-31">

          <span class="input-group-text">Urun Ana Grup</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="uranagrp" onchange="anagrpChanged(this,'uraltgrp')"></select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

        <!-- 2 -->
        <div class="input-group">
          <span class="input-group-text">Ilk Son Urun kodu</span>
          <input type="text" id="ukod1" class="form-control"
                 ondblclick="openurunkodlariModal('ukod1','grprapor','ukodukod')">
          <input type="text" id="ukod2" class="form-control" value="ZZZZZZZZZZZZ"
                 ondblclick="openurunkodlariModal('ukod2','grprapor','ukodukod')">

          <span class="input-group-text">Urun Alt Grup</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="uraltgrp" disabled></select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

        <!-- 3 -->
        <div class="input-group">
          <span class="input-group-text">Ilk ve Son Hesap</span>
          <input type="text" id="ckod1" class="form-control" ondblclick="openSecondModal('ckod1')">
          <input type="text" id="ckod2" class="form-control" value="ZZZZZZZZZZZZ"
                 ondblclick="openSecondModal('ckod2')">

          <span class="input-group-text">Urun Oz.Kod</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="urozkod"></select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

        <!-- 4 -->
        <div class="input-group">
          <span class="input-group-text">Ilk ve Son Sinif</span>
          <input type="text" id="sinif1" class="form-control">
          <input type="text" id="sinif2" class="form-control" value="ZZZZZZZZZZ">
          <span></span><span></span><span></span>
        </div>

        <!-- 5  (Birim + Istenen Ay) -->
        <div class="input-group">
          <span class="input-group-text">Birim</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="birim" onchange="birimChanged()">
              <option value="Tutar">Tutar</option>
              <option value="Miktar">Miktar</option>
              <option value="Agirlik">Agirlik</option>
            </select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>

          <!-- SAĞ BLOK: kolon 4'ten başlar (Urun Oz.Kod label hizası) -->
          <div class="right-pack">
            <label class="form-check compact-check">
              <input type="checkbox" class="form-check-input" id="istenenaychc" onchange="istenenayChanged()">
              <span class="form-check-label">Istenen Ay</span>
            </label>

            <!-- gizliyken yer kaplasın -->
           <input type="text" id="istenenay" class="form-control is-hidden" style="max-width:50px; width:50px;">
          
          </div>
        </div>

        <!-- 6 (Gruplama + Dvz Cevirme) -->
        <div class="input-group">
          <span class="input-group-text">Gruplama</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="gruplama">
              <option value="Urun Kodu">Urun Kodu</option>
              <option value="Urun Kodu-Yil">Urun Kodu-Yil</option>
              <option value="Yil">Yil</option>
              <option value="Hesap Kodu-Yil">Hesap Kodu</option>
              <option value="Hesap Kodu-Yil">Hesap Kodu-Yil</option>
              <option value="Yil_Ay">Yil_Ay</option>
              <option value="Urun_Ana_Grup">Urun_Ana_Grup</option>
              <option value="Urun_Ana_Grup_Yil">Urun_Ana_Grup_Yil</option>
            </select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>

          <!-- SAĞ BLOK: kolon 4'ten başlar (Urun Oz.Kod label hizası) -->
          <div class="right-pack">
            <label class="form-check compact-check is-hidden" id="dvzcevlbl">
              <input type="checkbox" class="form-check-input is-hidden" id="dvzcevirchc" onchange="dvzcevirChanged()">
              <span class="form-check-label is-hidden" id="dvzcvrspn">Dvz Cevir</span>
            </label>

            <!-- gizliyken yer kaplasın -->
            <div class="select-wrap">
              <select class="form-select cins_bold is-hidden" id="dvzcins" >
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="RUB">RUB</option>
              </select>
              <span id="dvzcinsspan" class="select-arrow is-hidden">▼</span>
            </div>
          </div>
        </div>

        <!-- 7 -->
        <div class="input-group">
          <span class="input-group-text">Stunlar</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="stunlar">
              <option value="Yil">Yil</option>
              <option value="Ay">Ay</option>
              <option value="Gun">Gun</option>
              <option value="Ana Grup">Ana Grup</option>
              <option value="Urun Ana Grup">Urun Ana Grup</option>
              <option value="Hesap Kodu">Hesap Kodu</option>
            </select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>

          <span></span>
          
          
          <div class="select-wrap">
            <select class="form-select cins_bold is-hidden" id="dvzturu">
              <option value="MA">MA</option>
              <option value="MS">MS</option>
            </select>
            <span id="dvzturuspan" class="select-arrow is-hidden">▼</span>
          </div>
          
        </div>

        <!-- 8 -->
        <div class="input-group">
          <span class="input-group-text">Turu</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="turu">
              <option value="CIKAN">CIKAN</option>
              <option value="GIREN">GIREN</option>
            </select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
          <span></span><span></span><span></span>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveToMain()">Raporla</button>
      </div>

    </div>
  </div>
</div>
