<div class="modal fade modal-imagrprap" th:fragment="modalimagrp" id="firstModal"
  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Imalat Grup Raporlama</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <!-- 1 -->
        <div class="input-group">
          <span class="input-group-text">Ilk Son Tarih</span>
          <input type="date" id="tar1" class="form-control" value="1900-01-01">
          <input type="date" id="tar2" class="form-control" value="2100-12-31">

          <span class="input-group-text">Urun Ana Grup</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="uranagrp" onchange="anagrpChanged(this,'uraltgrp')"></select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

        <!-- 2 -->
        <div class="input-group">
          <span class="input-group-text">Ilk Son Urun kodu</span>
          <input type="text" id="ukod1" class="form-control"
                 ondblclick="openurunkodlariModal('ukod1','imagrprapor','ukodukod')">
          <input type="text" id="ukod2" class="form-control" value="ZZZZZZZZZZZZ"
                 ondblclick="openurunkodlariModal('ukod2','imagrprapor','ukodukod')">

          <span class="input-group-text">Urun Alt Grup</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="uraltgrp" disabled></select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

        <!-- 3 -->
        <div class="input-group">
          <span class="input-group-text">Ilk ve Son Sinif</span>
          <input type="text" id="sinif1" class="form-control">
          <input type="text" id="sinif2" class="form-control" value="ZZZZZZZZZZ">

          <span class="input-group-text">Ana Grup</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="anagrp" onchange="anagrpChanged(this,'altgrp')"></select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

        <!-- 4 -->
        <div class="input-group">
          <span class="input-group-text">Birim</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="birim">
              <option value="Agirlik">Agirlik</option>
              <option value="Tutar">Tutar</option>
              <option value="Miktar">Miktar</option>
            </select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>

          <span class="input-group-text">Alt Grup</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="altgrp" disabled></select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

        <!-- 5 (tek select) -->
        <div class="input-group">
          <span class="input-group-text">Gruplama</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="gruplama">
              <option value="Urun Kodu">Urun Kodu</option>
              <option value="Yil">Yil</option>
              <option value="Yil_Ay">Yil_Ay</option>
              <option value="Ana_Grup">Ana_Grup</option>
              <option value="Alt_Grup">Alt_Grup</option>
              <option value="Alt_Grup_Yil">Alt_Grup_Yil</option>
              <option value="Alt_Grup_Yil_Ay">Alt_Grup_Yil_Ay</option>
              <option value="Depo">Depo</option>
            </select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

        <!-- 6 (tek select) -->
        <div class="input-group">
          <span class="input-group-text">Stunlar</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="stunlar">
              <option value="Yil">Yil</option>
              <option value="Ay">Ay</option>
              <option value="Gun">Gun</option>
              <option value="Ana Grup">Ana Grup</option>
              <option value="Depo">Depo</option>
            </select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

        <!-- 7 (tek select) -->
        <div class="input-group">
          <span class="input-group-text">Turu</span>
          <div class="select-wrap">
            <select class="form-select cins_bold" id="turu">
              <option value="CIKAN">CIKAN</option>
              <option value="GIREN">GIREN</option>
            </select>
            <span class="select-arrow">▼</span>
          </div>
          <span></span>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveToMain()">Raporla</button>
      </div>

    </div>
  </div>
</div>

