<style>
.modal-dialog {
	height: 500px;
	margin: 0 auto;
}

.modal-content {
	overflow-y: auto; 
}

.modal-backdrop {
	z-index: 1040 !important;
}

#secondModal {
	z-index: 1050 !important; 
}

</style>
<div class="modal fade" th:fragment="modalimarap" id="firstModal"
	data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered"
		style="min-width: 790px;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Imalat Raporlama</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="input-group" style="padding: 2px;">
					<span style="padding-left: 5px;"></span>
					<div class="input-group-prepend">
						<span class="input-group-text" style="width: 130px;">Ilk ve Son Evrak</span>
					</div>
					<span style="padding-left: 5px;"></span> 
					<input type="text" id="evrno1" style="max-width: 120px;" class="form-control"> 
					<span style="padding-left: 5px;"></span>
					<input type="text" id="evrno2" style="max-width: 120px;" value="ZZZZZZZZZZ" class="form-control">
					<span style="padding-left: 5px;"></span>
					<div class="input-group-prepend">
						<span class="input-group-text" style="width: 130px;">Urun Ana Grup</span>
					</div>
					<span style="padding-left: 5px;"></span>
					<div style="position: relative; width: 150px;">
						<select class="form-control cins_bold"
							style="width: 100%; padding-right: 30px;" id="uranagrp" onchange="anagrpChanged(this,'uraltgrp')">
							
						</select> 
						<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
					</div>
				</div>
				<div class="input-group" style="padding: 2px;">
					<span style="padding-left: 5px;"></span>
					<div class="input-group-prepend">
						<span class="input-group-text" style="width: 130px;">Ilk Son Tarih</span>
					</div>
					<span style="padding-left: 5px;"></span> 
					<input type="date" id="tar1" style="max-width: 120px;"  
						class="form-control" value="1900-01-01"> 
					<span style="padding-left: 5px;"></span> 
					<input type="date" id="tar2" style="max-width: 120px;" class="form-control"
						value="2100-12-31"> 
					<span style="padding-left: 5px;"></span>
					<div class="input-group-prepend">
						<span class="input-group-text" style="width: 130px;">Urun Alt Grup</span>
					</div>
					<span style="padding-left: 5px;"></span>
					<div style="position: relative; width: 150px;">
						<select class="form-control cins_bold" style="width: 100%; padding-right: 30px;" id="uraltgrp" disabled>
						</select> 
						<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
					</div>
				</div>
				<div class="input-group" style="padding: 2px;">
					<span style="padding-left: 5px;"></span>
					<div class="input-group-prepend">
						<span class="input-group-text" style="width: 130px;">Ilk Son Barkod</span>
					</div>
					<span style="padding-left: 5px;"></span> 
					<input type="text" id="bkod1" style="max-width: 120px;" class="form-control">
					<span style="padding-left: 5px;"></span> 
					<input type="text" id="bkod2" style="max-width: 120px;" value="ZZZZZZZZZZ"
						class="form-control" > 
					<span style="padding-left: 5px;"></span>
					<div class="input-group-prepend">
						<span class="input-group-text" style="width: 130px;">Depo</span>
					</div>
					<span style="padding-left: 5px;"></span>
					<div style="position: relative; width: 150px;">
						<select class="form-control cins_bold" style="width: 100%; padding-right: 30px;" id="depo">
						</select> 
						<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
					</div>
				</div>
				<div class="input-group" style="padding: 2px;">
					<span style="padding-left: 5px;"></span>
					<div class="input-group-prepend">
						<span class="input-group-text" style="width: 130px;">Ilk Son Ur.Kodu</span>
					</div>
					<span style="padding-left: 5px;"></span> 
					<input type="text" id="ukod1" style="max-width: 120px;" class="form-control">
					<span style="padding-left: 5px;"></span>
					<input type="text" id="ukod2" style="max-width: 120px;" value="ZZZZZZZZZZZZ" class="form-control"> 
				</div>
				<div class="input-group" style="padding: 2px;">
                    <span style="padding-left: 5px;"></span>
					<div class="input-group-prepend">
						<span class="input-group-text" style="width: 130px;">Ilk Son Recete</span>
					</div>
					<span style="padding-left: 5px;"></span> 
					<input type="text" id="rec1" style="max-width: 120px;" class="form-control" >
					<span style="padding-left: 5px;"></span> 
					<input type="text" id="rec2" style="max-width: 120px;" value="ZZZZZZZZZZZZ" class="form-control" >
				</div>
				<div class="input-group" style="padding: 2px;">
					<span style="padding-left: 5px;"></span>
					<div class="input-group-prepend">
						<span class="input-group-text" style="width: 130px;">Ana Grup</span>
					</div>
					<span style="padding-left: 5px;"></span>
					<div style="position: relative; width: 150px;">
						<select class="form-control cins_bold"
							style="width: 100%; padding-right: 30px;" id="anagrp" onchange="anagrpChanged(this,'altgrp')">
							
						</select> 
						<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
					</div>
				</div>
                <div class="input-group" style="padding: 2px;">
					<span style="padding-left: 5px;"></span>
					<div class="input-group-prepend">
						<span class="input-group-text" style="width: 130px;">Alt Grup</span>
					</div>
					<span style="padding-left: 5px;"></span>
					<div style="position: relative; width: 150px;">
						<select class="form-control cins_bold" style="width: 100%; padding-right: 30px;" id="altgrp" disabled>
						</select> 
						<span style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); pointer-events: none;"> ▼ </span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary form-control"
					onclick="saveToMain()">Raporla</button>
			</div>
		</div>
	</div>
</div>