

<div class="modal fade" th:fragment="urnsecondModal" id="urnsecondModal" tabindex="-1" aria-labelledby="secondModalLabel" aria-hidden="true"
    data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 70%;">
        <div class="modal-content" style="height: 600px; overflow-y: hidden;">
            <div class="modal-header">
                <input type="text" class="form-control" id="urnsecond-modalSearch" placeholder="Search..." oninput="stkfilterTable()">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="urnsecond-errorDiv" style="display: none; color: red; font-weight: bold;"></div>
            <div class="urnsecond-modall-table-container">
                <table id="urnsecond-modalTable" class="table urnsecond-modal-table table-bordered table-hover tah-table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Barkod</th>
                            <th>Kodu</th>
                            <th>Adi</th>
                            <th>Sinif</th>
                            <th>Birim</th>
                            <th>Agirlik</th>
                            <th>Mensei</th>
                            <th>Ana Grup</th>
                            <th>Alt Grup</th>
                        </tr>
                    </thead>
                    <tbody id="urnsecond-modalTableBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
