<style>
.group-box {
	border: 1px solid #ccc;
	padding: 7px;
	margin: 10px;
	width: 100%;
	box-sizing: border-box;
}

.child {
	width: 60%;
	padding: 2px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-items: center;
}
</style>
<div class="card p-4">
	<div class="child">
		<div class="group-box">
			<label style="width: 70px;" ></label> 
			<span style="padding-left: 5px;"></span> 
			<label style="width: 50px;" id="ckod"></label> 
			<span style="padding-left: 5px;"></span> 
			<label class="form-control" id="cserver" style="width: 150px;"></label>
			<span style="padding-left: 5px;"></span> 
			<label class="form-control"	style="width: 250px;" id="cfadi"></label> 
			<span style="padding-left: 5px;"></span> 
			<select	style="width: 100px" id="clog">
				<option value="">Loglama</option>
			</select> <span style="padding-left: 5px;"></span> 
			<label class="form-control"	style="width: 50px;" id="chsql"></label>
		</div>
	</div>
</div>