<div class="card p-4">
	<div class="input-group" style="padding:5px;">
  		<div class="input-group-prepend">
    		<span class="input-group-text" id="lblfismi" style="width:150px;">Firma Ismi</span>
  		</div>
  		<span style="padding-left: 5px;"></span>
  		<input type="text" id="firmaismi"  style="max-width:500px;" class="form-control">
	</div>
	<div style="padding:5px;">
   		<span style="padding-left: 150px;"></span>
  		<button class="btn btn-primary" type="button" id="mailButton" onclick="firmaismiKaydet()">Kaydet</button>
	</div>
	<input type="hidden" id="modul" name="modul"  >
</div>
<div id="errorDiv" style="display: none; color: red; font-weight: bold;"></div>
<script src="/obs_js_files/ortak/firmaismi.js"></script>