<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>OBS Sistem</title>
<link rel="icon" href="images/favicon.png" type="image/png" />
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'	rel='stylesheet'>
<link rel="stylesheet" href="/css/font-awesome.css" />
<link rel="stylesheet" href="/style/style.css" />
<link rel="stylesheet" href="/css/responsive.css" />
<link rel="stylesheet" href="/css/bootstrap-select.css" />
<link rel="stylesheet" href="/css/perfect-scrollbar.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/animate.js"></script>
<script src="js/custom.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>



</head>
<body class="dashboard dashboard_1">
	<div class="full_container">
		<div class="inner_container">
			<!-- Sidebar  -->
			<nav id="sidebar">
				<div class="sidebar_blog_1">
					<div class="sidebar-header">
						<div class="logo_section" >
							<a href="/index"><img class="logo_icon img-responsive" 
								src="images/logo/obs_logo_son.png"  alt="#" /></a>
						</div>
					</div>
					<div class="sidebar_user_info">
						<div class="icon_setting"></div>
						<div class="user_profle_side">
							<div class="user_img">
								<img class="img-responsive" th:if="${profileImage != null}"
									th:src="'data:image/jpeg;base64,' + ${profileImage}" alt="#" />
							</div>
							<div class="user_info">
								<span id="kullaniciAdi" sec:authorize="isAuthenticated()" sec:authentication="name"></span>
								<p><span class="online_animation"></span> Online </p>
							</div>
						</div>
					</div>
				</div>
				<div class="sidebar_blog_2">
					<h4>Menu</h4>
					<ul class="list-unstyled components">
						<li class="active"><a href="#carihesap"	data-toggle="collapse" aria-expanded="false"
							class="dropdown-toggle"> <i	class="fa fa-dashboard yellow_color"></i> <span>Cari Hesap</span></a>
							<ul class="collapse list-unstyled" id="carihesap">
								<li><a href="" class="changeLink" data-url="/cari/hspplngiris"><span>Hesap Plani Giris</span></a></li>
								<li><a href="" class="changeLink" data-url="/cari/hspplnliste"><span>Hesap Plani</span></a></li>
								<li><a href="" class="changeLink" data-url="/cari/dekont"> <span>Dekont</span></a></li>
								<li><a href="" class="changeLink" data-url="/cari/tahsilat"> <span>Tahsilat Fisi</span></a></li>
								<li><a href="" class="changeLink" data-url="/cari/ekstre"> <span>Cari Ekstre</span></a></li>
								<li><a href="" class="changeLink" data-url="/cari/mizan"> <span>Cari Mizan</span></a></li>
								<li><a href="" class="changeLink" data-url="/cari/ozelmizan"> <span>Cari Ozel Mizan</span></a></li>
								<li><a href="" class="changeLink" data-url="/cari/dvzcevirme"> <span>Cari Dovize Cevirme</span></a></li>
								<li><a href="" class="changeLink" data-url="/cari/gunlukkontrol"> <span>Gunluk Takip</span></a></li>
								<li><a href="" class="changeLink" data-url="/cari/tahsilatrapor"> <span>Tahsilat Raporlama</span></a></li>
								<li><a href="" class="changeLink" data-url="/cari/tahsilatdegerleri"> <span>Tahsilat Degerleri</span></a></li>
								<li><a href="" class="changeLink" data-url="/cari/ornekhesapplani"> <span>Ornek Hesap Plani</span></a></li>
								<li><a href="" class="changeLink" data-url="/cari/carikoddegis"> <span>Kod Degistirme</span></a></li>
								<li><a href="" onclick="firmaIsmi('cari', event)"><span>Firma Ismi Degistirme</span></a></li>
							</ul>
						</li>
						<li class="active"><a href="#doviz" data-toggle="collapse"
							aria-expanded="false" class="dropdown-toggle"> <i class="fa fa-money orange_color"></i> <span>Kur Islemleri</span></a>
							<ul class="collapse list-unstyled" id="doviz">
								<li><a href="" class="changeLink" data-url="/kur/kurgiris"><span>Kur Giris</span></a></li>
								<li><a href="" class="changeLink" data-url="/kur/kurrapor"><span>Kur Raporlama</span></a></li>
							</ul>
						</li>
						<li class="active"><a href="#adres" data-toggle="collapse"
							aria-expanded="false" class="dropdown-toggle"> <i class="fa fa-envelope-o blue2_color"></i> <span>Adres Islemleri</span></a>
							<ul class="collapse list-unstyled" id="adres">
								<li><a href="" class="changeLink" data-url="/adres/adresgiris"><span>Adres Giris</span></a></li>
								<li><a href="" class="changeLink" data-url="/adres/etiketliste"><span>Etiket Listeleme</span></a></li>
								<li><a href="" class="changeLink" data-url="/adres/etiketayar"><span>Etiket Ayar</span></a></li>
								<li><a href="" onclick="firmaIsmi('adres', event)"><span>Firma Ismi Degistirme</span></a></li>
							</ul>
						</li>
						<li class="active"><a href="#kambiyo" data-toggle="collapse"
							aria-expanded="false" class="dropdown-toggle"> <i
								class="fa fa-table purple_color2"></i> <span>Kambiyo Islemleri</span></a>
							<ul class="collapse list-unstyled" id="kambiyo">
								<li><a href="" class="changeLink" data-url="/kambiyo/cekgiris"><span>Cek Giris</span></a></li>
								<li><a href="" class="changeLink" data-url="/kambiyo/cekcikis"><span>Cek Cikis</span></a></li>
								<li><a href="" class="changeLink" data-url="/kambiyo/cektakip"><span>Cek Takip</span></a></li>
								<li><a href="" class="changeLink" data-url="/kambiyo/cekrapor"><span>Cek Raporlama</span></a></li>
								<li><a href="" onclick="firmaIsmi('kambiyo', event)"><span>Firma Ismi Degistirme</span></a></li>
							</ul>
						</li>
						<li class="active"><a href="#stok" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> 
							<i class="fa fa-clone yellow_color"></i><span>Stok Islemleri</span></a>
							<ul class="collapse list-unstyled" id="stok">
								<li><a href="" class="changeLink" data-url="/stok/urunkart"><span>Urun Giris</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/uretim"><span>Uretim</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/fatura"><span>Fatura</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/irsaliye"><span>Irsaliye</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/zayi"><span>Zayi</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/recete"><span>Recete</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/fatrapor"><span>Fatura Rapor</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/irsrapor"><span>Irsaliye Rapor</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/envanter"><span>Envanter</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/imarapor"><span>Imalat Rapor</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/imagrprapor"><span>Imalat Grup Rapor</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/stokrapor"><span>Stok Rapor</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/grprapor"><span>Grup Rapor</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/stokdetay"><span>Stok Detay Rapor</span></a></li>
								<li><a href="" class="changeLink" data-url="/stok/degiskenler"><span>Degiskenler</span></a></li>
								<li><a href="" onclick="firmaIsmi('fatura', event)"><span>Firma Ismi Degistirme</span></a></li>
							</ul>
						</li>
						<li class="active"><a href="#kereste" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
						 <i class="fa fa-paper-plane red_color"></i> <span>Kereste Islemleri</span></a>
							<ul class="collapse list-unstyled" id="kereste">
								<li><a href="" class="changeLink" data-url="/kereste/giris"><span>Giris</span></a></li>
								<li><a href="" class="changeLink" data-url="/kereste/cikis"><span>Cikis</span></a></li>
								<li><a href="" class="changeLink" data-url="/kereste/koddegis"><span>Kod Degistirme</span></a></li>
								<li><a href="" class="changeLink" data-url="/kereste/fatrapor"><span>Kereste Fatura Raporlama</span></a></li>
								<li><a href="" class="changeLink" data-url="/kereste/detay"><span>Kereste Detay Raporlama</span></a></li>
								<li><a href="" class="changeLink" data-url="/kereste/grprapor"><span>Grup Rapor</span></a></li>
								<li><a href="" class="changeLink" data-url="/kereste/envanter"><span>Envanter Rapor</span></a></li>
								<li><a href="" class="changeLink" data-url="/kereste/ortfiat"><span>Ortalama Fiat</span></a></li>
								<li><a href="" class="changeLink" data-url="/kereste/kodaciklama"><span>Kod Aciklama</span></a></li>
								<li><a href="" class="changeLink" data-url="/kereste/konsimentoaciklama"><span>Konsimento Aciklama</span></a></li>
								<li><a href="" class="changeLink" data-url="/kereste/degiskenyenile"><span>Degisken Yenileme</span></a></li>
								<li><a href="" class="changeLink" data-url="/kereste/degiskenler"><span>Degiskenler</span></a></li>
								<li><a href="" onclick="firmaIsmi('kereste', event)"><span>Firma Ismi Degistirme</span></a></li>
							</ul>
						</li>
						<li><a href="" data-url="/user/mailgonderme" class="changeLink" ><i class="fa fa-envelope-square orange_color"></i><span>Mail Gonderme</span></a></li>
						<li><a href="" data-url="/user/gidenraporlar" class="changeLink" ><i class="fa fa-briefcase blue1_color"></i><span>Giden Raporlar</span></a></li>
						<li><a href="" data-url="/user/lograpor" class="changeLink" ><i class="fa fa-object-group blue2_color"></i><span>Log Rapor</span></a></li>
						<li><a href="#ayar" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i	class="fa fa-cog yellow_color"></i> <span>Ayarlar</span></a>
							<ul class="collapse list-unstyled" id="ayar">
								<li><a href="" class="changeLink" data-url="/user/user_pwd_change"> <span>Sifre Degis</span></a></li>
								<li><a href="" class="changeLink" data-url="/user/user_update"> <span>Isim Degis</span></a></li>
								<li><a href="" class="changeLink" data-url="/user/userdetails"> <span>Kullanici Detaylari</span></a></li>
								<li th:if="${menuitemvisible}"><a href="" class="changeLink" data-url="/user/userizinler">
									<span>Admin İşlemleri</span></a>
								</li>
								<li><a href="" class="changeLink" data-url="/user/emailsettings"> <span>E Mail Ayarlari</span></a></li>
								<li><a href="" class="changeLink" data-url="/user/createdb"> <span>Yeni Veritabani Olustur</span></a></li>
								<li><a href="" class="changeLink" data-url="/user/copyuser"> <span>Kullanici Kopyala</span></a></li>
								<li><a href="" class="changeLink" data-url="/user/deleteaccount"> <span>Hesap Silme</span></a></li>
							</ul>
						</li>
						<li><a href="#backup" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-cloud blue2_color"></i> <span>Backup Takip</span></a>
							<ul class="collapse list-unstyled" id="backup">
								<li><a href="" data-url="/backup/backuptakip" class="changeLink" ><i class="fa fa-sitemap purple_color2"></i><span>Emir Bilgileri</span></a></li>
								<li><a href="" data-url="/backup/lograpor" class="changeLink" ><i class="fa fa-comments blue1_color"></i><span>Log Raporlama</span></a></li>
							</ul>
						</li>
						<li th:if="${menuitemvisiblegps}"><a href="#gps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-cloud orange_color"></i> <span>Gps Takip</span></a>
							<ul class="collapse list-unstyled" id="gps">
								<li><a href="" data-url="/gps/gps" class="changeLink" ><i class="fa fa-map purple_color2"></i><span>Gps Izleme</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
<!-- 
class="fa fa-paper-plane red_color"
class="fa fa-map purple_color2"
class="fa fa-bar-chart-o green_color"
 -->							

			<!-- end sidebar -->
			<!-- right content -->
			<div id="content">
				<!-- topbar -->
				<div class="topbar">
					<nav class="navbar navbar-expand-lg navbar-light">
						<div class="full">
							<button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i>
							</button>
							<div class="logo_section">
							<!--	<a href="index"><img class="img-responsive"	src="images/logo/obs_logo.png" alt="#" /></a>   -->
								<a href="" data-url="/wellcome" class="changeLink">
								<img 	src="images/logo/obs_logo_new.svg"  alt="#" /></a>
							</div>
							<div class="right_topbar">
								<div class="icon_info">
									<ul>
        								<li>
           									 <a href="" data-url="/forum" class="changeLink" data-toggle="tooltip" data-placement="top" title="Forum">
                								<i class="fa fa-comments-o"></i>
                								<span class="badge" id="mesajadet" th:text="${mesajadet}"></span>
                							</a>
        								</li>
    								</ul>
    								<ul>
        								<li>
                								<span></span>
        								</li>
    								</ul>

									<button type="button" class="sidebar_toggle"
										onclick="window.location.href='/logout'">
										<i class="fa fa-sign-out"></i>
									</button>
								</div>
							</div>
						</div>
					</nav>
				</div>
				<!-- end topbar -->
				<!-- dashboard inner -->
				<div class="midde_cont">
					<!-- Baslik  -->
					<div class="container-fluid">
						<div class="row column_title">
							<div class="col-md-12">
								<div class="page_title">
								<h2 id="baslik" style="white-space: pre;" ></h2>
							<!--		<h2 id="baslik" th:text="${baslik}"></h2>   -->
								</div>
							</div>
						</div>
					</div>
					<!-- Baslik  son-->
					<div id="ara_content">
						<!-- Dinamik içerik buraya yüklenecek -->
					</div>
					<!-- footer -->
					<div class="container-fluid">
						<div class="footer">
							<p>
								Copyright © 2024 Designed by html.design. All rights reserved.
								<br> Distributed By: <a href="https://okumus.gen.tr/">Hamit	Okumus</a>
								<br> <a id="ip" th:text="${ip}"></a>
							</p>
						</div>
					</div>
				</div>
				<!-- end dashboard inner -->
			</div>
		</div>
	</div>
	</body>
</html>
<script>
	function loadDefaultContent() {
		sayfaYukle('/wellcome');
    }
	async function sayfaYukle(url) {
	    try {
	        document.body.style.cursor = 'wait';
	        $.ajax({
	            url: url,
	            type: "GET",
	            success: function(data) {
	                document.body.style.cursor = 'default';
	                if (data.includes('<form') && data.includes('name="username"')) {
	                    window.location.href = "/login";
	                } else {
	                    $('#ara_content').html(data);
	                }
	            },
	            error: function(xhr) {
	                document.body.style.cursor = 'default';
	                if (xhr.status === 401) {
	                    window.location.href = "/login";
	                } else {
	                    $('#ara_content').html('<h2>Bir hata oluştu: ' + xhr.status + ' - ' + xhr.statusText + '</h2>');
	                }
	            },
	        });
	    } catch (error) {
	        document.body.style.cursor = 'default';
	        document.getElementById('ara_content').innerHTML =
	            `<h2>Bir hata oluştu: ${error.message}</h2>`;
	    }
	}
	
	function refreshPage() {
          location.reload(); 
    }
    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        const trigger = urlParams.get('trigger');
        if (trigger === 'userdetails') {
            const link = document.querySelector('.changeLink[data-url="/user/userdetails"]');
            if (link) {
                link.click();
            }
        }
        else{
        	document.body.style.cursor = 'wait';
        	loadDefaultContent();
		}
    };
    
    // Initialize all tooltips
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-toggle="tooltip"]'));
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });

    // Add click event to toggle tooltip visibility
    document.querySelectorAll('[data-toggle="tooltip"]').forEach(function (el) {
        el.addEventListener('click', function (e) {
            e.preventDefault();
            var tooltip = bootstrap.Tooltip.getInstance(el);
            if (tooltip._element.getAttribute('data-bs-trigger') === 'manual') {
                tooltip.hide();
                el.removeAttribute('data-bs-trigger');
            } else {
                tooltip.show();
                el.setAttribute('data-bs-trigger', 'manual');
            }
        });
    });    </script>
    <script src="/obs_js_files/fetchWithSessionCheck.js"></script>
    <script src="/obs_js_files/fetchWithSessionCheckForDownload.js"></script>
      
    <script src="/obs_js_files/index.js"></script>
    <script src="/obs_js_files/obs_global.js"></script>

	<script src="/obs_js_files/modal/obs_modal.js"></script>
	<script src="/obs_js_files/modal/stok_modal.js"></script>
	<script src="/obs_js_files/modal/adres/adreshplmodal.js"></script>
