<html lang="tr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>OBS Sistem</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="images/favicon.png" type="image/png" />
<link rel="stylesheet" href="css/bootstrap.min.css" />
<link rel="stylesheet" href="style/style.css" />
</head>
<body class="inner_page login">
	<div class="full_container">
		<div class="container">
			<div class="center verticle_center full_height">
				<div class="login_section">
					<div class="logo_login">
						<div class="center">
							<img width="210" src="images/logo/obs_logo.png" alt="#" />
						</div>
					</div>
					<div class="login_form">
						<form action="/login" method="POST" onsubmit="return showLoader(event)">
							<fieldset>
								<div class="field">
									<label class="label_field">Email Address</label> <input
										 type="email" name="username"
										placeholder="E-mail" />
								</div>
								<div class="field">
									<label class="label_field">Password</label> <input 
										type="password" name="password" placeholder="Password" />
								</div>
								<div class="field margin_0">
									<label class="label_field hidden">hidden label</label>
									<button class="main_bt" type="submit" >Giris Yap</button>
								</div>
								
								<div class="field">
									<label class="label_field hidden">hidden label</label>
                        			<div id="progressBar" style="display: none; margin-top: 10px;">
                            			<div style="width: 100%; background: #f0f0f0; border-radius: 10px;">
                                			<div id="progress" style="width: 0%; height: 5px; background: #214162; border-radius: 10px; transition: width 0.5s;"></div>
                            			</div>
                        			</div>
								</div>
								
								<div class="field">
									<label class="label_field hidden">hidden label</label> <a
										class="forgot" th:href="@{/user/send_password}">Şifremi
										Unuttum</a> <br> <label class="label_field hidden">hidden
										label</label> <a class="register" th:href="@{/user/register}">Hesabınız
										yok mu?</a>
								</div>
							</fieldset>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script>
    let progressInterval;
    function showLoader(event) {
        const progressBar = document.getElementById("progressBar");
        const progress = document.getElementById("progress");
        document.body.style.cursor = "wait";
        progressBar.style.display = "block";
        progress.style.width = "0%";
        let width = 0;
        progressInterval = setInterval(() => {
            if (width >= 100) {
                width = 0;
            } else {
                width += 5;
            }
            progress.style.width = width + "%";
        }, 200);
        return true;
    }
</script>
