<style>
.group-box {
	border: 1px solid #ccc;
	padding: 7px;
	margin: 10px;
	width: calc(100% - 20px);
	box-sizing: border-box;
}

.child {
	width: 70%;
	padding: 2px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	align-items: center;
}
</style>
<div class="card p-4">Merhaba , OBS Sisteme hos geldiniz </div>
<br>
<div class="card p-4">
<a style="font-size:14px;font-weight:bold;" href="http://www.okumus.gen.tr" target="_blank">OBS Masaüstü versiyon indirme</a>
</div>
<br>
<div class="card p-4">
	<div class="child">
		<div class="group-box">
			<div style="display: flex; align-items: center; gap: 10px;">
				<label style="width: 80px;" >Cari Hesap</label> 
				<span style="padding-left: 5px;"></span> 
				<label  style="width: 40px;" id="ckod"></label> 
				<span style="padding-left: 5px;"></span> 
				<label  id="cserver" style="width: 200px;"></label>
				<span style="padding-left: 5px;"></span> 
				<label  id="cfadi" style="width: 150px;"></label> 
				<span style="padding-left: 5px;"></span> 
				<label style="width: 50px;" id="chsql"></label>
			</div>
		</div>
		<div class="group-box">
			<div style="display: flex; align-items: center; gap: 10px;">
				<label style="width: 80px;" >Adres</label> 
				<span style="padding-left: 5px;"></span> 
				<label  style="width: 40px;" id="akod"></label> 
				<span style="padding-left: 5px;"></span> 
				<label  id="aserver" style="width: 200px;"></label>
				<span style="padding-left: 5px;"></span> 
				<label  id="afadi" style="width: 150px;"></label> 
				<span style="padding-left: 5px;"></span> 
				<label style="width: 50px;" id="ahsql"></label>
			</div>
		</div>
		<div class="group-box">
			<div style="display: flex; align-items: center; gap: 10px;">
				<label style="width: 80px;" >Kur</label> 
				<span style="padding-left: 5px;"></span> 
				<label  style="width: 40px;" id="kkod"></label> 
				<span style="padding-left: 5px;"></span> 
				<label  id="kserver" style="width: 200px;"></label>
				<span style="padding-left: 5px;"></span> 
				<label  id="kfadi" style="width: 150px;"></label> 
				<span style="padding-left: 5px;"></span> 
				<label style="width: 50px;" id="khsql"></label>
			</div>
		</div>
		<div class="group-box">
			<div style="display: flex; align-items: center; gap: 10px;">
				<label style="width: 80px;" >Kambiyo</label> 
				<span style="padding-left: 5px;"></span> 
				<label  style="width: 40px;" id="kakod"></label> 
				<span style="padding-left: 5px;"></span> 
				<label  id="kaserver" style="width: 200px;"></label>
				<span style="padding-left: 5px;"></span> 
				<label  id="kafadi" style="width: 150px;"></label> 
				<span style="padding-left: 5px;"></span> 
				<label style="width: 50px;" id="kahsql"></label>
			</div>
		</div>
		<div class="group-box">
			<div style="display: flex; align-items: center; gap: 10px;">
				<label style="width: 80px;" >Stok</label> 
				<span style="padding-left: 5px;"></span> 
				<label  style="width: 40px;" id="fkod"></label> 
				<span style="padding-left: 5px;"></span> 
				<label  id="fserver" style="width: 200px;"></label>
				<span style="padding-left: 5px;"></span> 
				<label  id="ffadi" style="width: 150px;"></label> 
				<span style="padding-left: 5px;"></span> 
				<label style="width: 50px;" id="fhsql"></label>
			</div>
		</div>
		
	</div>
</div>
	<div id="errorDiv" style="display: none; color: red; font-weight: bold;"></div>

<script src="/obs_js_files/wellcome.js"></script>

<script>

window.onload = getWellcomeData();
</script>
