
<link rel="stylesheet" href="style/yenihsppln.css" />
<style>
.container {
	height: 100vh; 
	display: flex;
	flex-direction: column; 
	margin-top: 10px;
	padding: 0px;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
}

table {
        width: 100%;
        border-collapse: collapse;
        table-layout: auto;
    }
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap; 
}

.details-row {
	display: none;
}

.expandable:hover {
	cursor: pointer;
}

.toggle-button {
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	width: 20px;
	text-align: center;
}

.toggle-button:hover {
	color: #007BFF;
}

.table-container {
	flex-grow: 1;
	overflow-y: auto;
	border: 1px solid #ccc;
	margin-top: 10px;
}

.details-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
	table-layout: auto;
}

.details-table th, .details-table td {
	border: 1px solid #ccc;
	padding: 6px;
	white-space: nowrap; 
}

.double-column {
	text-align: right;
}

.table-row-height td {
	height: 10px;
	line-height: 10px;
}

.table .thead-dark th {
	color: #fff;
	background: #214162;
}
</style>
	<div class="card p-1">
		<div style="display: flex; align-items: center;">
			<button class="btn btn-primary" type="button" id="fatrapyenileButton"
				style="margin-left: 10px;" onclick="openFirstModal('kerfatrapor')">Filtre</button>
			
			<button class="btn btn-primary" style="margin-left: 10px;" type="button" id="fatrapreportFormat"
			 onclick="fatrapdownloadReport()" disabled>Excel Indir</button>

			<button class="btn btn-primary" style="margin-left: 10px;" type="button" id="fatrapmailButton"
			 onclick="fatrapmailAt()" disabled>Email Gonder</button>
		</div>
	</div>
	<div id="errorDiv"
		style="display: none; color: red; font-weight: bold;"></div>
	<div class="container">
		<div class="table-container">
			<table id="main-table" class="table table-bordered table-hover">
				<thead class="thead-dark">
				</thead>
				<tbody id="mainTableBody">
				</tbody>
				<tfoot>
    			</tfoot>
			</table>
		</div>
	</div>
	<!--		Start Pagination -->
<div class='pagination-container' style="margin-top: 5px">
	<button type="button" class="btn btn-secondary ml-2" onclick="ilksayfa()">
        <i class="fa fa-backward"></i>
    </button>
    <span style="padding-left: 5px;"></span>
	<button type="button" class="btn btn-secondary ml-2" onclick="oncekisayfa()">
		<i class="fa fa-angle-left"></i>
	</button>
    <span style="padding-left: 5px;"></span>
	<button type="button" class="btn btn-secondary ml-2" onclick="sonrakisayfa()">
		<i class="fa fa-angle-right"></i>
	</button>
	<span style="padding-left: 5px;"></span>
	<button type="button" class="btn btn-secondary ml-2" onclick="sonsayfa()">
		<i class="fa fa-forward"></i>
	</button>
</div>

<input type="hidden" id="fatrapBilgi" name="fatrapBilgi" value="" />

<script src="/obs_js_files/kereste/raporlar/fatrapor.js"></script>
<div th:replace="~{modal/kereste/fatraporfiltre :: modalkerestefat}"></div>
<div th:replace="~{modal/yenihsppln :: secondModal}"></div>
