<style>
    .modal-dialog {
     	height: 500px; /* Modal yüksekliği */
        margin: 0 auto; /* Modalı ortalar */
    }
    .modal-content {
        overflow-y: auto; /* Fazla içerik için kaydırma */
    }
    .modal-backdrop {
        z-index: 1040 !important; /* Birinci modalın üstüne çıkacak */
    }
    #secondModal {
        z-index: 1050 !important; /* İkinci modal birinciden daha yukarıda */
    }
</style>

<!-- Modal -->
 <div class="modal fade" th:fragment="modaldvzcevirmefiltre" id="firstModal" data-bs-backdrop="static" data-bs-keyboard="false" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">Cari Dovize Cevirme</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <div class="input-group" style="padding:2px;">
  			<div class="input-group-prepend">
    			<span class="input-group-text" style="width:150px;">Hesap Kodu</span>
  			</div>
  			<span style="padding-left: 5px;"></span>
  			<input type="text" id="fhkodu1"  aria-label="Ilk Hesap" class="form-control" ondblclick="openSecondModal('fhkodu1')">
		</div>
		
        <div class="input-group" style="padding:2px;">
  			<div class="input-group-prepend">
    			<span class="input-group-text" style="width:150px;">Ilk Son Tarih</span>
  			</div>
  			<span style="padding-left: 5px;"></span>
  			<input type="date" id="startDate" aria-label="startDate" class="form-control" value="1900-01-01">
  			<span style="padding-left: 5px;"></span>
  			<input type="date" id="endDate" aria-label="endDate" class="form-control" value="2100-12-31">
		</div>
		
		<div class="input-group" style="padding:2px;">
  			<div class="input-group-prepend">
    			<span class="input-group-text" style="width:150px;">Doviz / Tur</span>
  			</div>
  			<span style="padding-left: 5px;"></span>
  			<select id="dvz_tur" class="form-control"	style="padding-left:5px;" >
				<option value="USD" selected>USD</option>
				<option value="EUR">EUR</option>
			</select>
			
  			<span style="padding-left: 5px;"></span>
  			<select id="dvz_cins" class="form-control"	style="padding-left:5px;" >
				<option value="MA" selected>MA</option>
				<option value="MS">MS</option>
				<option value="SA">SA</option>
				<option value="SS">SS</option>
				<option value="BA">BA</option>
				<option value="BS">BS</option>
			</select>
		</div>
		
		
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary form-control" onclick="saveToMain()">Raporla</button>
      </div>
    </div>
  </div>
</div>