
<div class="modal fade"
     th:fragment="modalekstre"
     id="firstModal"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="staticBackdropLabel"
     aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title" id="staticBackdropLabel">Cari Ekstre</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="input-group gap-2" style="padding:2px;">
          <span class="input-group-text">Hesap Kodu</span>
          <input type="text" id="fhkodu1" style="max-width:150px;"
                 class="form-control"
                 ondblclick="openSecondModal('fhkodu1')">
        </div>

        <div class="input-group gap-2" style="padding:2px;">
          <span class="input-group-text">Ilk Son Tarih</span>
         
          <input type="date" id="startDate" aria-label="startDate"
                 class="form-control" value="1900-01-01">
         
          <input type="date" id="endDate" aria-label="endDate"
                 class="form-control" value="2100-12-31">
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary form-control" onclick="saveToMain()">Raporla</button>
      </div>

    </div>
  </div>
</div>