<style>
    /* Modal boyutunu sınırla */
    .modal-dialog {
     	height: 500px; /* Modal yüksekliği */
        margin: 0 auto; /* Modalı ortalar */
    }

   
</style>

<!-- Modal -->
 <div class="modal fade" th:fragment="modalmizan" id="firstModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" >
    <div class="modal-content">
    
      	<div class="modal-header">
       			 <h5 class="modal-title" id="exampleModalLabel">Cari Mizan</h5>
        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      	</div>
		
      <div class="modal-body">
         <div class="input-group" style="padding:2px;">
  			<div class="input-group-prepend">
    			<span class="input-group-text" style="width:150px;">Ilk ve Son Hesap</span>
  			</div>
  			<span style="padding-left: 5px;"></span>
  			<input type="text" id="fhkodu1"  aria-label="Ilk Hesap" class="form-control" ondblclick="openSecondModal('fhkodu1')">
  			<span style="padding-left: 5px;"></span>
  			<input type="text" id="fhkodu2"  aria-label="Son Hesap" value="ZZZZZZZZZZZZ" class="form-control" ondblclick="openSecondModal('fhkodu2')">
		</div>
		
        <div class="input-group" style="padding:2px;">
  			<div class="input-group-prepend">
    			<span class="input-group-text" style="width:150px;">Ilk Son Tarih</span>
  			</div>
  			<span style="padding-left: 5px;"></span>
  			<input type="date" id="startDate" aria-label="startDate" class="form-control" value="1900-01-01">
  			<span style="padding-left: 5px;"></span>
  			<input type="date" id="endDate" aria-label="endDate" class="form-control" value="2100-12-31">
		</div>
		
		<div class="input-group" style="padding:2px;">
  			<div class="input-group-prepend">
    			<span class="input-group-text" style="width:150px;">Ilk Son Cins</span>
  			</div>
  			<span style="padding-left: 5px;"></span>
  			<input type="text" id="cins1" aria-label="Ilk Cins" class="form-control">
  			<span style="padding-left: 5px;"></span>
  			<input type="text" id="cins2" aria-label="Son Cins" value="ZZZ" class="form-control">
		</div>
		
		<div class="input-group" style="padding:2px;">
  			<div class="input-group-prepend">
    			<span class="input-group-text" style="width:150px;">Ilk Son Karton</span>
  			</div>
  			<span style="padding-left: 5px;"></span>
  			<input type="text" id="karton1" aria-label="Ilk Karton" class="form-control">
  			<span style="padding-left: 5px;"></span>
  			<input type="text" id="karton2" aria-label="Son Karton" value="ZZZZZ" class="form-control">
		</div>
		
		<div class="input-group" style="padding:2px;">
			<div class="input-group-prepend">
    			<span class="input-group-text" style="width:150px;">Tur</span>
  			</div>
			
			<span style="padding-left: 5px;"></span>
			
     		<select id="hangi_tur" class="form-select"	style="padding-left:5px;" >
				<option value="" selected>Butun Hesaplar</option>
				<option value="borcluhesaplar">Borclu Hesaplar</option>
				<option value="alacaklihesaplar">Alacakli Hesaplar</option>
				<option value="sifirolanlar">Bakiyesi 0 Olanlar</option>
				<option value="sifirolmayanlar">Bakiyesi 0 Olmayanlar</option>
			</select>
			<span style=" position: absolute;top: 50%; right: 10px; transform: translateY(-50%);  pointer-events: none;
  			color: rgba(255,255,255,.9);  text-shadow: 0 0 6px rgba(255,255,255,.35);"> ▼ </span>
 		</div>
 		
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary form-control" onclick="saveToMain()">Raporla</button>
      </div>
    </div>
  </div>
</div>
