    .modall-body {
        padding: 0; 
        display: flex; 
        flex-direction: column;
    }
    #modalTableBody {
        overflow-y: auto;
    }
    .modall-table-container {
	    overflow-y: auto;
    	border-top: 1px solid #ccc;
    	border-bottom: 1px solid #ccc;
}
    #searchInputContainer {
        flex: 0 0 auto; 
        background-color: white;
        padding: 10px;
        border-bottom: 1px solid #ddd;
        z-index: 1;
    }
.modal-table th, .modal-table td {
    text-align: left;
}

.modal-table tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.table .thead-dark th {
 color: #fff;
  background: #214162;
}

.modal-table.table-hover tbody tr:hover {
	background-color: #ced4da !important; 
	color: inherit !important;
}

.modal-table .table-row-height td {
	height: 10px;
	line-height: 10px;
}

.modal-table th:nth-child(1), .modal-table td:nth-child(1) {
	width: 5% ;
} 
.modal-table th:nth-child(2), .modal-table td:nth-child(2) {
	width: 25%;
} 
.modal-table th:nth-child(3), .modal-table td:nth-child(3) {
	width: 5%;
} 
.modal-table th:nth-child(4), .modal-table td:nth-child(4) {
	width: 5%;
}