
<div class="modal fade modal-borcalacak" th:fragment="modalborcalacak"
	id="firstModal" data-bs-backdrop="static" data-bs-keyboard="false"
	tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Karsi Hesap</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="input-group">
					<span class="input-group-text" >Hesap
						Kodu</span>  <input type="text"
						id="ckodu" style="max-width: 130px;"
						oninput="hesapAdiOgren(this.value, 'lblborcalacak')"
						class="form-control"
						ondblclick="openSecondModal('ckodu', 'cekgir')">
				</div>
				<div class="input-group">
					<span style="padding-left: 130px;"></span> <label
						id="lblborcalacak" class="form-control" >...</label>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"
					onclick="saveToMain()">Kaydet</button>
			</div>
		</div>
	</div>
</div>
